<div class="col-sm-7 pull-right chart-tools">
	<a href="#" class="hidden btn btn-sm pull-right" ng-click="downloadLeadsCsv()"
		title="Download as CSV"> <span
		class="glyphicon glyphicon-download"></span> Download CSV
	</a> <a ng-show="slackActive" href="#" class="btn btn-sm pull-right"
		ng-click="postToSlack()" title="Post to Slack"> <span
		class="fa fa-slack"></span> Post to Slack
	</a> <a href="#" class="btn btn-sm pull-right" ng-click="postToChannel()"
		title="Post to Channel"> <span class="fa fa-volume-up"></span>
		Post
	</a> <a href="#" class="btn btn-sm pull-right" ng-click="snapshot()"
		title="Take Snapshot"> <span class="glyphicon glyphicon-camera"></span>
		Snapshot
	</a> <a href="#" class="btn btn-sm pull-right" ng-click="createNote()"
		title="Add Sticky"> <span class="glyphicon glyphicon-comment"></span>
		Sticky
	</a>

</div>