<div class="row" ng-show="$parent.notifications.all">
	<div class="col-md-12">
		<!-- BEGIN TABLE PORTLET-->
		<div class="portlet light">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-volume-up font-blue-madison"></i><span class="caption-subject bold uppercase font-blue-madison">Notifications</span>
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse"> </a> <a
						href="#portlet-config" data-toggle="modal" class="config"> </a> <a
						href="javascript:;" class="reload"> </a> <a href="javascript:;"
						class="remove"> </a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-toolbar" ng-hide="!$parent.notifications.all || !$parent.notifications.all.length">
					<div class="row">
						<div class="col-md-12">
							<div class="btn-group pull-right">
								<button class="btn dropdown-toggle" data-toggle="dropdown">
									Tools <i class="fa fa-angle-down"></i>
								</button>
								<ul class="dropdown-menu pull-right">
									<li><a href="#"> Print </a></li>
									<li><a href="#"> Save as PDF </a></li>
									<li><a href="#"> Export to Excel </a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<table ng-hide="!$parent.notifications.all || !$parent.notifications.all.length" class="table table-striped table-hover table-bordered dataTable"
					id="notifications_table" datatable="ng" dt-options="vm.dtOptions" ng-cloak>
					<thead>
						<tr>
							<th class="center">Message</th>
							<th class="center">Created</th>
						</tr>
					</thead>

					<tbody>
						<tr ng-repeat="allNotification in $parent.notifications.all track by $index" ng-class="{'alert-info': allNotification.read == false}" >
							<td class="left" ng-class="{'alert-info': allNotification.read == false}">
							{{ allNotification.message }}
							</td>
							<td class="center" ng-class="{'alert-info': allNotification.read == false}">
							{{ allNotification.updated_date | date:'yyyy-MM-dd HH-mm-ss' }}
							</td>							
						</tr>
					</tbody>
					<div ng-hide="$parent.notifications.all && $parent.notifications.all.length">
						<div class="col-sm-12 no-symbols-here">
							<em>The are no notifications available.</em>
						</div>
					</div>

				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>
<!-- END PAGE CONTENT -->
