<div class="row" ng-show="showLeads">
	<div class="col-md-12">
		<!-- BEGIN TABLE PORTLET-->
		<div class="portlet light"  style="padding-left:0px !important; padding-right:0px !important">
			<div class="portlet-title">
				<div class="caption">
					<i class="fa fa-group font-blue-madison"></i><span class="caption-subject bold uppercase font-blue-madison">Leads</span><span class="font-blue-madison font-md"> {{filterTitle}}</span>
				</div>
				<div class="tools">
					<a href="javascript:;" class="collapse"> </a> <a
						href="#portlet-config" data-toggle="modal" class="config"> </a> <a
						href="javascript:;" class="reload"> </a> <a href="javascript:;"
						class="remove"> </a>
				</div>
			</div>
			<div class="portlet-body">
				<div class="table-toolbar" ng-hide="!vm.leads || !vm.leads.length" >
					<div class="row">
						<div class="col-md-12">
							<div class="btn-group pull-right">
								<button class="btn dropdown-toggle" data-toggle="dropdown">
									Tools <i class="fa fa-angle-down"></i>
								</button>
								<ul class="dropdown-menu pull-right">
									<li><a href="#"> Print </a></li>
									<li><a href="#"> Save as PDF </a></li>
									<li><a href="#"> Export to Excel </a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<table ng-hide="!vm.leads || !vm.leads.length"  class="table table-striped table-hover table-bordered dataTable"
					id="leads_table" datatable="ng" dt-options="vm.dtOptions" ng-cloak>
					<thead ng-hide="showLeadsDuration && showLeads" ng-show="showLeads && !showLeadsDuration">
						<tr>
							<th class="center"></th>
							<th class="center">First Name</th>
							<th class="center">Last Name</th>
							<th class="center">Email</th>
							<th class="center">Company</th>
							<th class="center">Source</th>
							<th class="center">System</th>
						</tr>
					</thead>
					
					<thead ng-show="showLeadsDuration" ng-hide="!showLeadsDuration">
						<tr>
						    <th class="center"></th>
							<th class="center">First Name</th>
							<th class="center">Last Name</th>
							<th class="center" ng-show="!strict">S->L</th>
							<th class="center" ng-show="!strict">L->M</th>
							<th class="center" ng-show="!strict">M->S</th>
							<th class="center" ng-show="!strict">S->O</th>
							<th class="center" ng-show="!strict">O->C</th>
							<th class="center" ng-show="!strict">Previous Stage</th>
							<th class="center" ng-show="strict">Days in Current Stage</th>
						</tr>
					</thead>

					<tbody ng-hide="showLeadsDuration">
						<tr ng-repeat="lead in vm.leads">
							<td class="center">
							<a ng-hide="showingContact[lead.id]" ng-click="showContactDetails(lead)" href="javascript:;">
							   <span class="row-details row-details-close"></span>
							</a>
							<a ng-show="showingContact[lead.id]" ng-click="hideContactDetails(lead)" href="javascript:;">
							   <span class="row-details row-details-open"></span>
							</a>
							</td>
							<td class="center">
							{{ lead.FirstName }}
							</td>
							<td class="center">
							{{ lead.LastName }}
							</td>
							<td class="center">
							{{ lead.Email }}
							</td>							
							<td class="center">
							{{ lead.Company }}</td>
							<td class="center">
							{{ lead.LeadSource }}
							</td>
							<td class="center">
							{{ lead.sourceSystem }}
							</td>
						</tr>
					</tbody>
					
					<tbody ng-show="showLeadsDuration">
						<tr ng-repeat-start="lead in vm.leads">
							<td class="center">
							<a ng-hide="showingContact[lead.id]" ng-click="showContactDetails(lead)" href="javascript:;">
							   <span class="row-details row-details-close"></span>
							</a>
							<a ng-show="showingContact[lead.id]" ng-click="hideContactDetails(lead)" href="javascript:;">
							   <span class="row-details row-details-open"></span>
							</a>
							</td>
							<td class="center">
							{{ lead.FirstName }}
							</td>
							<td class="center">
							{{ lead.LastName }}
							</td>
							<td class="center" ng-show="!strict">
							{{ lead.SL }}
							</td>							
							<td class="center" ng-show="!strict">
							{{ lead.LM}}</td>
							<td class="center" ng-show="!strict">
							{{ lead.MS }}
							</td>
							<td class="center" ng-show="!strict">
							{{ lead.SO }}
							</td>
							<td class="center" ng-show="!strict">
							{{ lead.OC }}
							</td>
							<td class="center" ng-show="!strict">
							{{ lead.last_stage }}
							</td>
							<td class="center" ng-show="strict">
							{{ lead.days_in_this_stage }}
							</td>
						</tr>
						<tr ng-repeat-end ng-show="showingContact[lead.id]">
						<td colspan="9"><ng-include src="'/static/templates/leads/analytics-leads-detail.html'"></ng-include></td>
						</tr>
					</tbody>
					
					<div ng-hide="vm.leads && vm.leads.length">
						<div class="col-sm-12 no-symbols-here">
							<em>There are no leads available.</em>
						</div>
					</div>

				</table>
			</div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>
<!-- END PAGE CONTENT -->
