<!--  dashboard -->
<div class="portlet light">

  <div class="portlet-header">
        <div class="title col-md-12">Social ROI</div>
        <div ncy-breadcrumb class="title col-md-9 breadcrumb animate-show-hide"></div>
        <div class="title col-md-3 breadcrumb">
           <a href="#" ng-click="showTheCarousel()" ng-hide="showCarousel"  class="pull-right animate-show-hide" style="font-weight:700;">Back to Dashboards</a>
	    </div>
  </div>
  
  <div class="portlet-title">
    <div class="caption col-md-9" ng-class="{'col-md-12' : hideTimeFilterOnTop==false, 'col-md-9': hideTimeFilterOnTop}">
      <i class="glyphicon glyphicon-th font-blue-madison"></i>
      <span class="caption-subject bold font-blue-madison">Social ROI
      <span class="italic filter-text">Filtered from {{ currentPageBinder.dashboardData.start_date }} to {{ currentPageBinder.dashboardData.end_date }}</span>
      </span>
    </div>   
    
    <div ng-hide='hideTimeFilterOnTop' class="col-md-3" style="padding-right:0px">
	    <div class="input-group col-md-12 pull-right" style="padding-top:2px;">
			<span class="input-group-addon"><span
				class="glyphicon glyphicon-calendar pull-right"></span></span> <input type="text"
				date-range-picker class="form-control date-picker pull-right"
				style="font-size: 0.7rem !important; width: 100% !important"
				name="groupDates.date" ng-model="groupDates.date" options="opts"
				placeholder="Select date range" />
		</div>
	</div>
    
  </div>
  
  <div class="col-md-12" id="column-headers">
	  <div class="col-md-1 uppercase bold">
	    &nbsp;
	  </div>
	  <div class="col-md-4 text-center uppercase bold">
	    Social Metrics
	  </div>
	  <div class="col-md-4 text-center uppercase bold">
	    Website Metrics
	  </div>
	  <div class="col-md-3 text-center uppercase bold">
	    ROI
	  </div>
  </div>
  
  <div class="col-md-12 channel-row" id="facebook">
	  <div class="col-md-1 uppercase bold dashboard-icon-div text-center">
	    <i class="fa fa-facebook font-blue-madison dashboard-icon"></i>
	  </div>
	  <div class="col-md-4 dashboard-results-cell">
	      <div class="col-md-12 uppercase row-header-1">
	          Organic
	      </div>
	      <div class="col-md-12 row-body-1">
	          <ul class="col-md-12">
	            <li class="text-center col-md-6">
		            <i class="fa fa-eye"></i>
		            <p class="dashboard-metric-name">Impressions</p>
		            <p class="dashboard-metric-value">{{ currentPageBinder.dashboardData.social.Facebook.Organic.Impressions | number:0 }}</p>
		        </li>
		        <li class="text-center col-md-6">
		            <i class="fa fa-gears"></i>
		            <p class="dashboard-metric-name">Engagement</p>
		            <p class="dashboard-metric-value">{{ currentPageBinder.dashboardData.social.Facebook.Organic.Clicks + currentPageBinder.dashboardData.social.Facebook.Organic.Comments + currentPageBinder.dashboardData.social.Facebook.Organic.Shares + currentPageBinder.dashboardData.social.Facebook.Organic.Likes | number:0 }}</p>
		        </li>
	          
	          </ul>
	          <hr style="border-top:1px solid #cc5a00; clear:both;">
	          <ul class="col-md-12">
	            <li class="text-center col-md-3">
		            <i class="fa fa-external-link"></i>
		            <p class="dashboard-metric-name-small">Clicks</p>
		            <p class="dashboard-metric-value">{{ currentPageBinder.dashboardData.social.Facebook.Organic.Clicks | number:0 }}</p>
		        </li>
		        <li class="text-center col-md-3">
		            <i class="fa fa-comments"></i>
		            <p class="dashboard-metric-name-small">Comments</p>
		            <p class="dashboard-metric-value">{{ currentPageBinder.dashboardData.social.Facebook.Organic.Comments  | number:0 }}</p>
		        </li>
		        <li class="text-center col-md-3">
		            <i class="fa fa-share-alt"></i>
		            <p class="dashboard-metric-name-small">Shares</p>
		            <p class="dashboard-metric-value">{{ currentPageBinder.dashboardData.social.Facebook.Organic.Shares | number:0 }}</p>
		        </li>
		        <li class="text-center col-md-3">
		            <i class="fa fa-thumbs-up"></i>
		            <p class="dashboard-metric-name-small">Likes</p>
		            <p class="dashboard-metric-value">{{ currentPageBinder.dashboardData.social.Facebook.Organic.Likes | number:0 }}</p>
		        </li>
	          
	          </ul>
	          
	         
	      </div>
	      <div class="col-md-12" style="height:10px; background-color: #f9f9f9;">&nbsp;</div>
	      <div class="col-md-12 uppercase row-header-2">
	          Paid
	      </div>
	      <div class="col-md-12 row-body-2">
	          <ul class="col-md-12">
	            <li class="text-center col-md-6">
		            <i class="fa fa-eye"></i>
		            <p class="dashboard-metric-name">Impressions</p>
		            <p class="dashboard-metric-value">{{ currentPageBinder.dashboardData.social.Facebook.Paid.Impressions | number:0 }}</p>
		        </li>
		        <li class="text-center col-md-6">
		            <i class="fa fa-gears"></i>
		            <p class="dashboard-metric-name">Engagement</p>
		            <p class="dashboard-metric-value">{{ currentPageBinder.dashboardData.social.Facebook.Paid.Clicks + currentPageBinder.dashboardData.social.Facebook.Paid.Comments + currentPageBinder.dashboardData.social.Facebook.Paid.Shares + currentPageBinder.dashboardData.social.Facebook.Paid.Likes | number:0 }}</p>
		        </li>
	          
	          </ul>
	          <hr style="border-top:1px solid #006c5e; clear:both;">
	          <ul class="col-md-12">
	            <li class="text-center col-md-3">
		            <i class="fa fa-external-link"></i>
		            <p class="dashboard-metric-name-small">Clicks</p>
		            <p class="dashboard-metric-value">{{ currentPageBinder.dashboardData.social.Facebook.Paid.Clicks | number:0 }}</p>
		        </li>
		        <li class="text-center col-md-3">
		            <i class="fa fa-comments"></i>
		            <p class="dashboard-metric-name-small">Comments</p>
		            <p class="dashboard-metric-value">{{ currentPageBinder.dashboardData.social.Facebook.Paid.Comments  | number:0 }}</p>
		        </li>
		        <li class="text-center col-md-3">
		            <i class="fa fa-share-alt"></i>
		            <p class="dashboard-metric-name-small">Shares</p>
		            <p class="dashboard-metric-value">{{ currentPageBinder.dashboardData.social.Facebook.Paid.Shares | number:0 }}</p>
		        </li>
		        <li class="text-center col-md-3">
		            <i class="fa fa-thumbs-up"></i>
		            <p class="dashboard-metric-name-small">Likes</p>
		            <p class="dashboard-metric-value">{{ currentPageBinder.dashboardData.social.Facebook.Paid.Likes | number:0 }}</p>
		        </li>
	          
	          </ul>
	          
	         
	      </div>
	  </div>
	  <div class="col-md-4 dashboard-results-cell">
	      <div class="col-md-12 uppercase row-header-1">
	          &nbsp;
	      </div>
	      <div class="col-md-12 row-body-1">
	          <ul class="col-md-12">
	            <li class="text-center col-md-6">
		            <i class="fa fa-globe"></i>
		            <p class="dashboard-metric-name">Visits</p>
		            <p class="dashboard-metric-value">{{ currentPageBinder.dashboardData.website.Facebook.Organic.Visits | number:0 }}</p>
		        </li>
		        <li class="text-center col-md-6">
		            <i class="fa fa-money"></i>
		            <p class="dashboard-metric-name">Deals</p>
		            <p class="dashboard-metric-value"><a href="#" ng-click="drilldown('deals', 'organic', 'facebook', 'social_roi')">{{ currentPageBinder.dashboardData.website.Facebook.Organic.Deals | number:0 }}</a></p>
		        </li>
	          
	          </ul>
	          <hr style="border-top:1px solid #cc5a00; clear:both;">
	          <ul class="col-md-12">
	            <li class="text-center col-md-4">
		            <i class="fa fa-user"></i>
		            <p class="dashboard-metric-name-small">Contacts</p>
		            <p class="dashboard-metric-value"><a href="#" ng-click="drilldown('contacts', 'organic', 'facebook', 'social_roi')">{{ currentPageBinder.dashboardData.website.Facebook.Organic.Contacts | number:0 }}</a></p>
		        </li>
		        <li class="text-center col-md-4">
		            <i class="fa fa-bullhorn"></i>
		            <p class="dashboard-metric-name-small">Leads</p>
		            <p class="dashboard-metric-value"><a href="#" ng-click="drilldown('leads', 'organic', 'facebook', 'social_roi')">{{ currentPageBinder.dashboardData.website.Facebook.Organic.Leads  | number:0 }}</a></p>
		        </li>
		        <li class="text-center col-md-4">
		            <i class="fa fa-heart-o"></i>
		            <p class="dashboard-metric-name-small">Customers</p>
		            <p class="dashboard-metric-value"><a href="#" ng-click="drilldown('customers', 'organic', 'facebook', 'social_roi')">{{ currentPageBinder.dashboardData.website.Facebook.Organic.Customers | number:0 }}</a></p>
		        </li>
		        
	          </ul>
	       </div>   
	      <div class="col-md-12" style="height:10px; background-color: #f9f9f9;">&nbsp;</div>    
	      <div class="col-md-12 uppercase row-header-2">
	          &nbsp;
	      </div>
	      <div class="col-md-12 row-body-2">
	          <ul class="col-md-12">
	            <li class="text-center col-md-6">
		            <i class="fa fa-globe"></i>
		            <p class="dashboard-metric-name">Visits</p>
		            <p class="dashboard-metric-value">{{ currentPageBinder.dashboardData.website.Facebook.Paid.Visits | number:0 }}</p>
		        </li>
		        <li class="text-center col-md-6">
		            <i class="fa fa-money"></i>
		            <p class="dashboard-metric-name">Deals</p>
		            <p class="dashboard-metric-value"><a href="#" ng-click="drilldown('deals', 'paid', 'facebook', 'social_roi')">{{ currentPageBinder.dashboardData.website.Facebook.Paid.Deals | number:0 }}</a></p>
		        </li>
	          
	          </ul>
	          <hr style="border-top:1px solid #006c5e; clear:both;">
	          <ul class="col-md-12">
	            <li class="text-center col-md-4">
		            <i class="fa fa-user"></i>
		            <p class="dashboard-metric-name-small">Contacts</p>
		            <p class="dashboard-metric-value"><a href="#" ng-click="drilldown('contacts', 'paid', 'facebook', 'social_roi')">{{ currentPageBinder.dashboardData.website.Facebook.Paid.Contacts | number:0 }}</a></p>
		        </li>
		        <li class="text-center col-md-4">
		            <i class="fa fa-bullhorn"></i>
		            <p class="dashboard-metric-name-small">Leads</p>
		            <p class="dashboard-metric-value"><a href="#" ng-click="drilldown('leads', 'paid', 'facebook', 'social_roi')">{{ currentPageBinder.dashboardData.website.Facebook.Paid.Leads  | number:0 }}</a></p>
		        </li>
		        <li class="text-center col-md-4">
		            <i class="fa fa-heart-o"></i>
		            <p class="dashboard-metric-name-small">Customers</p>
		            <p class="dashboard-metric-value"><a href="#" ng-click="drilldown('customers', 'paid', 'facebook', 'social_roi')">{{ currentPageBinder.dashboardData.website.Facebook.Paid.Customers | number:0 }}</a></p>
		        </li>
		        
	          </ul>
	       </div>   
	  </div>
	  <div class="col-md-3 dashboard-results-cell">
	      <div class="col-md-12 uppercase row-header-1">
	          &nbsp;
	      </div>
	      <div class="col-md-12 row-body-1 row-body-no-border">
	          <ul class="col-md-12">
	            <li class="text-center col-md-12">
		            <i class="fa fa-dollar"></i>
		            <p class="dashboard-metric-name">Revenue</p>
		            <p class="dashboard-metric-value">{{ currentPageBinder.dashboardData.roi.Facebook.Organic.Revenue | currency:"$ " }}</p>
		        </li>
		        
	          </ul>
	          <hr style="border-top:1px solid #cc5a00; clear:both;">
	          <ul class="col-md-12" style="margin-bottom:0px">
	            <li class="text-center col-md-12" style="margin-top:6px">
		            <i class="fa fa-minus-square-o"></i>
		            <p class="dashboard-metric-name">Spend</p>
		            <p class="dashboard-metric-value">{{ currentPageBinder.dashboardData.roi.Facebook.Organic.Spend | currency:"$ " }}</p>
		        </li>
	          
	          </ul>
	       </div> 
	      <div class="col-md-12" style="height:10px; background-color: #f9f9f9;">&nbsp;</div>
	      <div class="col-md-12 uppercase row-header-2">
	          &nbsp;
	      </div>
	      <div class="col-md-12 row-body-2 row-body-no-border">
	          <ul class="col-md-12">
	            <li class="text-center col-md-12">
		            <i class="fa fa-dollar"></i>
		            <p class="dashboard-metric-name">Revenue</p>
		            <p class="dashboard-metric-value">{{ currentPageBinder.dashboardData.roi.Facebook.Paid.Revenue | currency:"$ " }}</p>
		        </li>
		        
	          </ul>
	          <hr style="border-top:1px solid #006c5e; clear:both;">
	          <ul class="col-md-12" style="margin-bottom:0px">
	            <li class="text-center col-md-12" style="margin-top:6px">
		            <i class="fa fa-minus-square-o"></i>
		            <p class="dashboard-metric-name">Spend</p>
		            <p class="dashboard-metric-value">{{ currentPageBinder.dashboardData.roi.Facebook.Paid.Spend | currency:"$ " }}</p>
		        </li>
	          
		        
	          </ul>
	       </div> 
	  </div>
	  
  </div>
  
  <h5 class="x-small block " style="clear:both">Generated on: {{ now | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a z' }}</h5>
  

	<div style="margin-left:-20px; margin-right:-20px" ng-show="showLeads" class="animate-show-hide"><ng-include src="'/static/templates/leads/analytics-leads.html'"></ng-include></div>
	<div style="margin-left:-20px; margin-right:-20px" ng-show="showDeals" class="animate-show-hide"><ng-include src="'/static/templates/opportunities/analytics-opps.html'"></ng-include></div>
		
</div>  
<!--  end of dashboard -->
			
<!-- END PAGE CONTENT -->
