<div class="row">
	<div class="col-md-12">
	
	<!--  dashboard -->
<div class="portlet light">
  
  <div class="portlet-title">
    <div class="caption  col-md-6">
      <i class="fa fa-random font-blue-madison"></i>
      <span class="caption-subject bold uppercase font-blue-madison">Funnel
      From <span class="label label-info">{{ results.start_date }}</span> to <span class="label label-info">{{ results.end_date }}</span>
      </span>
    </div>   
    
  </div>
  
  <div class="main-body">
     <div id="top-half" style="background-color:#f9f9f9">
  <div class="col-xs-1">
    &nbsp;
  </div>
  <div class="col-xs-4 text-center" style="min-height:50px; border-left:2px solid  #007f6b; border-top:2px solid  #007f6b; margin-top:125px">
    &nbsp;
  </div>
  
  <div class="col-xs-2 text-center">
    
    <h3 class="info-metric"  style="margin-top:0px; color:#1f8a70" title="Number of new contacts in this time period">7,852{{results.created_count | number:0}}</h3> <h4> ( 18{{ results.percentage_increase }}% ) </h4>
    <a class="btn btn-lg text-center" style="color:#1f8a70;">
      <i class="fa fa-group fa-2x" style="color:#4d7886; font-size:1.5em !important"></i>
    </a>
    <h5 class="info-label" style="margin-top:0px; color:#003d51; font-size:85%">Contacts</h5>
  </div>
  
  <div class="col-xs-4 text-center" style="min-height:50px; border-right:2px solid #ff6a00; border-top:2px solid #ff6a00; margin-top:125px">
    &nbsp;
  </div>
  
  <div class="col-xs-1">
    &nbsp;
  </div>
 
 <div class="clearfix" style="clear:both; height:0px">
 &nbsp;
 </div>
  
  <div class="col-xs-1 col-xs-offset-1" style="min-height:50px; border-left:2px solid  #007f6b; border-bottom:2px solid  #007f6b; margin-top:0px">
  &nbsp;
  </div>
  <div class="col-xs-8 info-box-green">
    <h5 class="text-center info-label" style="margin-top:0px;">Sources</h5>
    <hr style="border-top:1px solid #006c5e; clear:both; margin-top:5px; margin-bottom:0px;">
    <ul style="list-style:none; padding:0px" class="text-center">
      <li ng-repeat='(key, value) in results.created_source' class="info-list-item-compressed text-center" style="margin-top:0px; padding-top:0px;">
         <a class="btn btn-lg text-center" style="color:#fff;">
            <i ng-show="key == 'EMAIL_MARKETING'" class="fa fa-envelope"></i>
            <i ng-show="key == 'DIRECT_TRAFFIC'" class="fa fa-bullseye"></i>
            <i ng-show="key == 'OFFLINE'" class="fa fa-flag-o"></i>
            <i ng-show="key == 'ORGANIC_SEARCH'" class="fa fa-search"></i>
            <i ng-show="key == 'REFERRALS'" class="fa fa-bullhorn"></i>
            <i ng-show="key == 'SOCIAL_MEDIA'" class="fa fa-thumbs-o-up"></i>
            <i ng-show="key == 'PAID_SEARCH'" class="fa fa-money"></i>
            <i ng-show="key == 'OTHER_CAMPAIGNS'" class="fa fa-volume-up"></i>
         </a>
         <h6 class="info-label" style="margin-top:0px; padding-top:0px; font-size:70%;">{{ sourceNames[key] }}</h6>
         <p class="info-label" style="margin-top:0px; padding-top:0px; font-size:70%;">{{ value | number:0 }}</p>
      </li>
    </ul>
  </div>
  <div class="col-xs-1" style="min-height:50px; border-right:2px solid  #ff6a00; margin-top:0px">
  &nbsp;
  </div>
  <div class="col-md-1">&nbsp;</div>
  <div class="col-md-6 info-box">
    <div class="text-center info-label">Stages</div>
    <ul style="list-style:none; padding-left:0px; margin-left:0px">
      <li class="info-list-item-compressed text-center">
         <h6 class="info-label">{{ stageNames['subscriber'] }}</h6>
         <a class="btn btn-lg text-center" style="color:#fd7400;">
            <i class="fa fa-user info-icon-medium"></i>
         </a>
         <p class="info-label">{{ results.created_stage['subscriber'] || 0 | number:0 }}</p>
      </li>
      <li class="info-list-item-compressed text-center">
         <h6 class="info-label">{{ stageNames['lead'] }}</h6>
         <a class="btn btn-lg text-center" style="color:#fd7400;">
            <i class="fa fa-plus-circle info-icon-medium"></i>
         </a>
         <p class="info-label">{{ results.created_stage['lead'] || 0 | number:0 }}</p>
      </li>
      <li class="info-list-item-compressed text-center">
         <h6 class="info-label">{{ stageNames['marketingqualifiedlead'] }}</h6>
         <a class="btn btn-lg text-center" style="color:#fd7400;">
            <i class="fa fa-check-square-o info-icon-medium"></i>
         </a>
         <p class="info-label">{{ results.created_stage['marketingqualifiedlead'] || 0 | number:0 }}</p>
      </li>
      <li class="info-list-item-compressed text-center">
         <h6 class="info-label">{{ stageNames['salesqualifiedlead'] }}</h6>
         <a class="btn btn-lg text-center" style="color:#fd7400;">
            <i class="fa fa-thumbs-o-up info-icon-medium"></i>
         </a>
         <p class="info-label">{{ results.created_stage['salesqualifiedlead'] || 0 | number:0 }}</p>
      </li>
      <li class="info-list-item-compressed text-center">
         <h6 class="info-label">{{ stageNames['opportunity'] }}</h6>
         <a class="btn btn-lg text-center" style="color:#fd7400;">
            <i class="fa fa-money info-icon-medium"></i>
         </a>
         <p class="info-label">{{ results.created_stage['opportunity'] || 0 | number:0 }}</p>
      </li>
      <li class="info-list-item-compressed text-center">
         <h6 class="info-label">{{ stageNames['customer'] }}</h6>
         <a class="btn btn-lg text-center" style="color:#fd7400;">
            <i class="fa fa-heart info-icon-medium"></i>
         </a>
         <p class="info-label">{{ results.created_stage['customer'] || 0 | number:0 }}</p>
      </li>
    </ul>
  </div>
  </div> <!--  end of top half -->
  <div class="clearfix" style="clear:both; height:0px">
    &nbsp;
  </div>
 <!--  Subscriber -->
  <div class="col-md-2">
    &nbsp;
  </div>
  
  <div class="col-md-3 text-center" style="min-height:150px; border-left:10px solid #bedb39; border-bottom:10px solid #bedb39; margin-top:0px; padding-top:30px">
    <a class="btn btn-lg text-center" style="color:#1f8a70;">
      <i class="icon icon-arrow-down info-icon"></i>
    </a>
    <h4 class="info-label" title="Number of contacts that moved to the next stage">{{ results.existed_stage['subscriber'] + results.leads_subscribers  - results.created_stage['subscriber'] | number:0 }}</h4>
  </div>
  
  <div  class="col-md-2 text-center">
  <h3 class="info-metric"  style="color:#004358"  title="Number of contacts in this stage">{{results.created_stage['subscriber'] || 0 | number:0}}</h3>
    <a class="btn btn-lg text-center" style="color:#004358;">
      <i class="fa fa-user info-icon"></i>
    </a>
    <h4 class="info-label">{{ stageNames['subscriber'] }}</h4>
  </div>
  
  <div class="col-md-3 text-center" style="min-height:150px; border-right:10px solid #fd7400; border-bottom:10px solid #fd7400; margin-top:0px; padding-top:30px">
    <a class="btn btn-lg text-center" style="color:red;">
      <i class="fa fa-calendar info-icon"></i>
    </a>
    <h4 class="info-label" title="Average number of days in this stage">{{ results.leads_avg_subscriber_duration }} days</h4>
  </div>
  
  <div class="col-md-2">
    &nbsp;
  </div>
  
  <!--  end of Subscriber -->
  <!--  Lead -->
  
  <div class="clearfix" style="clear:both; height:0px">
    &nbsp;
  </div>
 
  <div class="col-md-2">
    &nbsp;
  </div>
  
  <div class="col-md-3 text-center" style="min-height:150px; border-left:10px solid #bedb39; border-bottom:10px solid #bedb39; margin-top:0px; padding-top:30px">
    <a class="btn btn-lg text-center" style="color:#1f8a70;">
      <i class="icon icon-arrow-down info-icon"></i>
    </a>
    <h4 class="info-label"  title="Number of contacts that moved to the next stage">{{ results.existed_stage['lead'] +  results.leads_leads  - results.created_stage['lead'] | number:0 }}</h4>
  </div>
  
  <div  class="col-md-2 text-center">
  <h3 class="info-metric"  style="color:#004358" title="Number of contacts in this stage">{{results.created_stage['lead'] || 0 | number:0}}</h3>
    <a class="btn btn-lg text-center" style="color:#004358;">
      <i class="fa fa-plus-circle  info-icon"></i>
    </a>
    <h4 class="info-label">{{ stageNames['lead'] }}</h4>
  </div>
  
  <div class="col-md-3 text-center" style="min-height:150px; border-right:10px solid #fd7400; border-bottom:10px solid #fd7400; margin-top:0px; padding-top:30px">
    <a class="btn btn-lg text-center" style="color:red;">
      <i class="fa fa-calendar info-icon"></i>
    </a>
    <h4 class="info-label" title="Average number of days in this stage">{{ results.leads_avg_lead_duration }} days</h4>
  </div>
  
  <div class="col-md-2">
    &nbsp;
  </div>
  
  <!--  end of Lead -->
 <!--  MQL -->
  
  <div class="clearfix" style="clear:both; height:0px">
    &nbsp;
  </div>
 
  <div class="col-md-2">
    &nbsp;
  </div>
  
  <div class="col-md-3 text-center" style="min-height:150px; border-left:10px solid #bedb39; border-bottom:10px solid #bedb39; margin-top:0px; padding-top:30px">
    <a class="btn btn-lg text-center" style="color:#1f8a70;">
      <i class="icon icon-arrow-down info-icon"></i>
    </a>
    <h4 class="info-label"  title="Number of contacts that moved to the next stage">{{ results.existed_stage['marketingqualifiedlead'] + results.leads_mqls  - results.created_stage['marketingqualifiedlead'] | number:0 }}</h4>
  </div>
  
  <div  class="col-md-2 text-center">
  <h3 class="info-metric"  style="color:#004358"  title="Number of contacts in this stage">{{results.created_stage['marketingqualifiedlead'] || 0 | number:0}}</h3>
    <a class="btn btn-lg text-center" style="color:#004358;">
      <i class="fa fa-check-square-o info-icon"></i>
    </a>
    <h4 class="info-label">{{ stageNames['marketingqualifiedlead'] }}</h4>
  </div>
  
  <div class="col-md-3 text-center" style="min-height:150px; border-right:10px solid #fd7400; border-bottom:10px solid #fd7400; margin-top:0px; padding-top:30px">
    <a class="btn btn-lg text-center" style="color:red;">
      <i class="fa fa-calendar info-icon"></i>
    </a>
    <h4 class="info-label" title="Average number of days in this stage">{{ results.leads_avg_mql_duration }} days</h4>
  </div>
  
  <div class="col-md-2">
    &nbsp;
  </div>
  
  <!--  end of MQL --> 
  <!--  SQL -->
  
  <div class="clearfix" style="clear:both; height:0px">
    &nbsp;
  </div>
 
  <div class="col-md-2">
    &nbsp;
  </div>
  
  <div class="col-md-3 text-center" style="min-height:150px; border-left:10px solid #bedb39; border-bottom:10px solid #bedb39; margin-top:0px; padding-top:30px">
    <a class="btn btn-lg text-center" style="color:#1f8a70;">
      <i class="icon icon-arrow-down info-icon"></i>
    </a>
    <h4 class="info-label"  title="Number of contacts that moved to the next stage">{{ results.existed_stage['salesqualifiedlead'] + results.leads_sqls  - results.created_stage['salesqualifiedlead'] | number:0 }}</h4>
  </div>
  
  <div  class="col-md-2 text-center">
  <h3 class="info-metric"  style="color:#004358"  title="Number of contacts in this stage">{{results.created_stage['salesqualifiedlead'] || 0 | number:0}}</h3>
    <a class="btn btn-lg text-center" style="color:#004358;">
      <i class="fa fa-thumbs-o-up info-icon"></i>
    </a>
    <h4 class="info-label">{{ stageNames['salesqualifiedlead'] }}</h4>
  </div>
  
  <div class="col-md-3 text-center" style="min-height:150px; border-right:10px solid #fd7400; border-bottom:10px solid #fd7400; margin-top:0px; padding-top:30px">
    <a class="btn btn-lg text-center" style="color:red;">
      <i class="fa fa-calendar info-icon"></i>
    </a>
    <h4 class="info-label" title="Average number of days in this stage">{{ results.leads_avg_sql_duration }} days</h4>
  </div>
  
  <div class="col-md-2">
    &nbsp;
  </div>
  
  <!--  end of SQL -->
  <!--  Opp -->
  
  <div class="clearfix" style="clear:both; height:0px">
    &nbsp;
  </div>
 
  <div class="col-md-2">
    &nbsp;
  </div>
  
  <div class="col-md-3 text-center" style="min-height:150px; border-left:10px solid #bedb39; border-bottom:10px solid #bedb39; margin-top:0px; padding-top:30px">
    <a class="btn btn-lg text-center" style="color:#1f8a70;">
      <i class="icon icon-arrow-down info-icon"></i>
    </a>
    <h4 class="info-label"  title="Number of contacts that moved to the next stage">{{ results.existed_stage['opportunity'] + results.leads_opps  - results.created_stage['opportunity'] | number:0 }}</h4>
  </div>
  
  <div  class="col-md-2 text-center">
  <h3 class="info-metric"  style="color:#004358"  title="Number of contacts in this stage">{{results.created_stage['opportunity'] || 0 | number:0}}</h3>
    <a class="btn btn-lg text-center" style="color:#004358;">
      <i class="fa fa-money info-icon"></i>
    </a>
    <h4 class="info-label">{{ stageNames['opportunity'] }}</h4>
  </div>
  
  <div class="col-md-3 text-center" style="min-height:150px; border-right:10px solid #fd7400; border-bottom:10px solid #fd7400; margin-top:0px; padding-top:30px">
    <a class="btn btn-lg text-center" style="color:red;">
      <i class="fa fa-calendar info-icon"></i>
    </a>
    <h4 class="info-label" title="Average number of days in this stage">{{ results.leads_avg_opp_duration }} days</h4>
  </div>
  
  <div class="col-md-2">
    &nbsp;
  </div>
  
  <!--  end of Opp -->
  <!--  Customer -->
  
  <div class="clearfix" style="clear:both; height:0px">
    &nbsp;
  </div>
 
  <div class="col-md-2">
    &nbsp;
  </div>
  
  <div class="col-md-3 text-center" style="min-height:150px; border-left:10px solid #bedb39; border-bottom:10px solid #bedb39; margin-top:0px; padding-top:30px">
    <a class="btn btn-lg text-center" style="color:#1f8a70;">
      <i class="fa fa-dollar info-icon"></i>
    </a>
    <h4 class="info-label"  title="Total value of deals closed in this time period">{{ results.closed_deal_value | number:0 }}</h4>
  </div>
  
  <div  class="col-md-2 text-center">
  <h3 class="info-metric"  style="color:#004358"  title="Number of contacts in this stage">{{results.created_stage['customer'] || 0 | number:0}}</h3>
    <a class="btn btn-lg text-center" style="color:#004358;">
      <i class="fa fa-heart info-icon"></i>
    </a>
    <h4 class="info-label">{{ stageNames['customer'] }}</h4>
  </div>
  
  <div class="col-md-3 text-center" style="min-height:150px; border-right:10px solid #fd7400; border-bottom:10px solid #fd7400; margin-top:0px; padding-top:30px">
    <a class="btn btn-lg text-center" style="color:red;">
      <i class="icon icon-badge info-icon"></i>
    </a>
    <h4 class="info-label" title="Highest value of deal closed in this time period">{{ results.max_deal_value | number:0 }}</h4>
  
  </div>
  
  <div class="col-md-2">
    &nbsp;
  </div>
  
  <!--  end of Customer -->
  <div class="clearfix" style="clear:both">
   &nbsp;
  </div>
    
    </div> <!--  end portlet body -->
  
</div>  
<!--  end of dashboard -->
	
		
	</div>
</div>
<!-- END PAGE CONTENT -->
