<!--  dashboard -->
  
  <div class="col-xs-12" id="column-headers">
	  <div class="col-xs-1 uppercase bold">
	    &nbsp;
	  </div>
	  <div class="col-xs-4 text-center uppercase bold">
	    Social Metrics
	  </div>
	  <div class="col-xs-4 text-center uppercase bold">
	    Website Metrics
	  </div>
	  <div class="col-xs-3 text-center uppercase bold">
	    ROI
	  </div>
  </div>
  
  <div class="col-xs-12 channel-row" id="facebook">
	  <div class="col-xs-1 uppercase bold dashboard-icon-div text-center">
	    <i class="fa fa-facebook font-blue-madison dashboard-icon"></i>
	  </div>
	  <div class="col-xs-4 dashboard-results-cell">
	      <div class="col-xs-12 uppercase row-header-1">
	          Organic
	      </div>
	      <div class="col-xs-12 row-body-1">
	          <ul class="col-xs-12">
	            <li class="text-center col-xs-6">
		            <i class="fa fa-eye"></i>
		            <p class="dashboard-metric-name" ng-class="{'smaller-font' : showBinder}">Impressions</p>
		            <p class="dashboard-metric-value">{{ currentPage.dashboardData.social.Facebook.Organic.Impressions | number:0 }}</p>
		        </li>
		        <li class="text-center col-xs-6">
		            <i class="fa fa-gears"></i>
		            <p class="dashboard-metric-name" ng-class="{'smaller-font' : showBinder}">Engagement</p>
		            <p class="dashboard-metric-value">{{ currentPage.dashboardData.social.Facebook.Organic.Clicks + currentPage.dashboardData.social.Facebook.Organic.Comments + currentPage.dashboardData.social.Facebook.Organic.Shares + currentPage.dashboardData.social.Facebook.Organic.Likes | number:0 }}</p>
		        </li>
	          
	          </ul>
	          <hr style="border-top:1px solid #9bd9f0; clear:both;">
	          <ul class="col-xs-12">
	            <li class="text-center col-xs-3">
		            <i class="fa fa-external-link"></i>
		            <p class="dashboard-metric-name-small">Clicks</p>
		            <p class="dashboard-metric-value">{{ currentPage.dashboardData.social.Facebook.Organic.Clicks | number:0 }}</p>
		        </li>
		        <li class="text-center col-xs-3">
		            <i class="fa fa-comments"></i>
		            <p class="dashboard-metric-name-small">Comments</p>
		            <p class="dashboard-metric-value">{{ currentPage.dashboardData.social.Facebook.Organic.Comments  | number:0 }}</p>
		        </li>
		        <li class="text-center col-xs-3">
		            <i class="fa fa-share-alt"></i>
		            <p class="dashboard-metric-name-small">Shares</p>
		            <p class="dashboard-metric-value">{{ currentPage.dashboardData.social.Facebook.Organic.Shares | number:0 }}</p>
		        </li>
		        <li class="text-center col-xs-3">
		            <i class="fa fa-thumbs-up"></i>
		            <p class="dashboard-metric-name-small">Likes</p>
		            <p class="dashboard-metric-value">{{ currentPage.dashboardData.social.Facebook.Organic.Likes | number:0 }}</p>
		        </li>
	          
	          </ul>
	          
	         
	      </div>
	      <div class="col-xs-12" style="height:10px; background-color: #f9f9f9;">&nbsp;</div>
	      <div class="col-xs-12 uppercase row-header-2">
	          Paid
	      </div>
	      <div class="col-xs-12 row-body-2">
	          <ul class="col-xs-12">
	            <li class="text-center col-xs-6">
		            <i class="fa fa-eye"></i>
		            <p class="dashboard-metric-name" ng-class="{'smaller-font' : showBinder}">Impressions</p>
		            <p class="dashboard-metric-value">{{ currentPage.dashboardData.social.Facebook.Paid.Impressions | number:0 }}</p>
		        </li>
		        <li class="text-center col-xs-6">
		            <i class="fa fa-gears"></i>
		            <p class="dashboard-metric-name" ng-class="{'smaller-font' : showBinder}">Engagement</p>
		            <p class="dashboard-metric-value">{{ currentPage.dashboardData.social.Facebook.Paid.Clicks + currentPage.dashboardData.social.Facebook.Paid.Comments + currentPage.dashboardData.social.Facebook.Paid.Shares + currentPage.dashboardData.social.Facebook.Paid.Likes | number:0 }}</p>
		        </li>
	          
	          </ul>
	          <hr style="border-top:1px solid #8cd1ec;; clear:both;">
	          <ul class="col-xs-12">
	            <li class="text-center col-xs-3">
		            <i class="fa fa-external-link"></i>
		            <p class="dashboard-metric-name-small">Clicks</p>
		            <p class="dashboard-metric-value">{{ currentPage.dashboardData.social.Facebook.Paid.Clicks | number:0 }}</p>
		        </li>
		        <li class="text-center col-xs-3">
		            <i class="fa fa-comments"></i>
		            <p class="dashboard-metric-name-small">Comments</p>
		            <p class="dashboard-metric-value">{{ currentPage.dashboardData.social.Facebook.Paid.Comments  | number:0 }}</p>
		        </li>
		        <li class="text-center col-xs-3">
		            <i class="fa fa-share-alt"></i>
		            <p class="dashboard-metric-name-small">Shares</p>
		            <p class="dashboard-metric-value">{{ currentPage.dashboardData.social.Facebook.Paid.Shares | number:0 }}</p>
		        </li>
		        <li class="text-center col-xs-3">
		            <i class="fa fa-thumbs-up"></i>
		            <p class="dashboard-metric-name-small">Likes</p>
		            <p class="dashboard-metric-value">{{ currentPage.dashboardData.social.Facebook.Paid.Likes | number:0 }}</p>
		        </li>
	          
	          </ul>
	          
	         
	      </div>
	  </div>
	  <div class="col-xs-4 dashboard-results-cell">
	      <div class="col-xs-12 uppercase row-header-1">
	          &nbsp;
	      </div>
	      <div class="col-xs-12 row-body-1">
	          <ul class="col-xs-12">
	            <li class="text-center col-xs-6">
		            <i class="fa fa-globe"></i>
		            <p class="dashboard-metric-name" ng-class="{'smaller-font' : showBinder}">Visits</p>
		            <p class="dashboard-metric-value">{{ currentPage.dashboardData.website.Facebook.Organic.Visits | number:0 }}</p>
		        </li>
		        <li class="text-center col-xs-6">
		            <i class="fa fa-money"></i>
		            <p class="dashboard-metric-name" ng-class="{'smaller-font' : showBinder}">Deals</p>
		            <p class="dashboard-metric-value"><a href="#" ng-click="drilldown('deals', 'organic', 'facebook', 'social_roi')">{{ currentPage.dashboardData.website.Facebook.Organic.Deals | number:0 }}</a></p>
		        </li>
	          
	          </ul>
	          <hr style="border-top:1px solid #9bd9f0; clear:both;">
	          <ul class="col-xs-12">
	            <li class="text-center col-xs-4">
		            <i class="fa fa-user"></i>
		            <p class="dashboard-metric-name-small">Contacts</p>
		            <p class="dashboard-metric-value"><a href="#" ng-click="drilldown('contacts', 'organic', 'facebook', 'social_roi')">{{ currentPage.dashboardData.website.Facebook.Organic.Contacts | number:0 }}</a></p>
		        </li>
		        <li class="text-center col-xs-4">
		            <i class="fa fa-bullhorn"></i>
		            <p class="dashboard-metric-name-small">Leads</p>
		            <p class="dashboard-metric-value"><a href="#" ng-click="drilldown('leads', 'organic', 'facebook', 'social_roi')">{{ currentPage.dashboardData.website.Facebook.Organic.Leads  | number:0 }}</a></p>
		        </li>
		        <li class="text-center col-xs-4">
		            <i class="fa fa-heart-o"></i>
		            <p class="dashboard-metric-name-small">Customers</p>
		            <p class="dashboard-metric-value"><a href="#" ng-click="drilldown('customers', 'organic', 'facebook', 'social_roi')">{{ currentPage.dashboardData.website.Facebook.Organic.Customers | number:0 }}</a></p>
		        </li>
		        
	          </ul>
	       </div>   
	      <div class="col-xs-12" style="height:10px; background-color: #f9f9f9;">&nbsp;</div>    
	      <div class="col-xs-12 uppercase row-header-2">
	          &nbsp;
	      </div>
	      <div class="col-xs-12 row-body-2">
	          <ul class="col-xs-12">
	            <li class="text-center col-xs-6">
		            <i class="fa fa-globe"></i>
		            <p class="dashboard-metric-name" ng-class="{'smaller-font' : showBinder}">Visits</p>
		            <p class="dashboard-metric-value">{{ currentPage.dashboardData.website.Facebook.Paid.Visits | number:0 }}</p>
		        </li>
		        <li class="text-center col-xs-6">
		            <i class="fa fa-money"></i>
		            <p class="dashboard-metric-name" ng-class="{'smaller-font' : showBinder}">Deals</p>
		            <p class="dashboard-metric-value"><a href="#" ng-click="drilldown('deals', 'paid', 'facebook', 'social_roi')">{{ currentPage.dashboardData.website.Facebook.Paid.Deals | number:0 }}</a></p>
		        </li>
	          
	          </ul>
	          <hr style="border-top:1px solid #8cd1ec;; clear:both;">
	          <ul class="col-xs-12">
	            <li class="text-center col-xs-4">
		            <i class="fa fa-user"></i>
		            <p class="dashboard-metric-name-small">Contacts</p>
		            <p class="dashboard-metric-value"><a href="#" ng-click="drilldown('contacts', 'paid', 'facebook', 'social_roi')">{{ currentPage.dashboardData.website.Facebook.Paid.Contacts | number:0 }}</a></p>
		        </li>
		        <li class="text-center col-xs-4">
		            <i class="fa fa-bullhorn"></i>
		            <p class="dashboard-metric-name-small">Leads</p>
		            <p class="dashboard-metric-value"><a href="#" ng-click="drilldown('leads', 'paid', 'facebook', 'social_roi')">{{ currentPage.dashboardData.website.Facebook.Paid.Leads  | number:0 }}</a></p>
		        </li>
		        <li class="text-center col-xs-4">
		            <i class="fa fa-heart-o"></i>
		            <p class="dashboard-metric-name-small">Customers</p>
		            <p class="dashboard-metric-value"><a href="#" ng-click="drilldown('customers', 'paid', 'facebook', 'social_roi')">{{ currentPage.dashboardData.website.Facebook.Paid.Customers | number:0 }}</a></p>
		        </li>
		        
	          </ul>
	       </div>   
	  </div>
	  <div class="col-xs-3 dashboard-results-cell">
	      <div class="col-xs-12 uppercase row-header-1">
	          &nbsp;
	      </div>
	      <div class="col-xs-12 row-body-1 row-body-no-border">
	          <ul class="col-xs-12">
	            <li class="text-center col-xs-12">
		            <i class="fa fa-dollar"></i>
		            <p class="dashboard-metric-name" ng-class="{'smaller-font' : showBinder}">Revenue</p>
		            <p class="dashboard-metric-value">{{ currentPage.dashboardData.roi.Facebook.Organic.Revenue | currency:"$ " }}</p>
		        </li>
		        
	          </ul>
	          <hr style="border-top:1px solid #9bd9f0; clear:both;">
	          <ul class="col-xs-12" style="margin-bottom:0px">
	            <li class="text-center col-xs-12">
		            <i class="fa fa-minus-square-o"></i>
		            <p class="dashboard-metric-name smaller-font" ng-class="{'smaller-font' : showBinder}">Spend</p>
		            <p class="dashboard-metric-value">{{ currentPage.dashboardData.roi.Facebook.Organic.Spend | currency:"$ " }}</p>
		        </li>
	          
	          </ul>
	       </div> 
	      <div class="col-xs-12" style="height:10px; background-color: #f9f9f9;">&nbsp;</div>
	      <div class="col-xs-12 uppercase row-header-2">
	          &nbsp;
	      </div>
	      <div class="col-xs-12 row-body-2 row-body-no-border">
	          <ul class="col-xs-12">
	            <li class="text-center col-xs-12">
		            <i class="fa fa-dollar"></i>
		            <p class="dashboard-metric-name" ng-class="{'smaller-font' : showBinder}">Revenue</p>
		            <p class="dashboard-metric-value">{{ currentPage.dashboardData.roi.Facebook.Paid.Revenue | currency:"$ " }}</p>
		        </li>
		        
	          </ul>
	          <hr style="border-top:1px solid #8cd1ec;; clear:both;">
	          <ul class="col-xs-12" style="margin-bottom:0px">
	            <li class="text-center col-xs-12">
		            <i class="fa fa-minus-square-o"></i>
		            <p class="dashboard-metric-name smaller-font" ng-class="{'smaller-font' : showBinder}">Spend</p>
		            <p class="dashboard-metric-value">{{ currentPage.dashboardData.roi.Facebook.Paid.Spend | currency:"$ " }}</p>
		        </li>
	          
		        
	          </ul>
	       </div> 
	  </div>
	  
  </div>
  

	<div ng-show="showLeads" class="animate-show-hide"><ng-include src="'/static/templates/leads/analytics-leads.html'"></ng-include></div>
	<div ng-show="showDeals" class="animate-show-hide"><ng-include src="'/static/templates/opportunities/analytics-opps.html'"></ng-include></div>
		
<!--  end of dashboard -->
			
<!-- END PAGE CONTENT -->
