<!--  dashboard -->
<div class="portlet light" ng-class="{'padding-zero' : showBinder}">
  <div class="portlet-header short" ng-show="showBinder"> 
        <span class="caption-subject bold font-blue-madison" style="font-size:80%">
           <span class="italic filter-text">Filtered from {{ currentPage.dashboardData.start_date }} to {{ currentPage.dashboardData.end_date }}</span>
        </span>
  </div>

  <div class="portlet-header" ng-hide="showBinder">
        <div class="title col-md-12">Funnel</div>
        <div ncy-breadcrumb class="title col-md-9 breadcrumb animate-show-hide"></div>
        <div class="title col-md-3 breadcrumb">
           <a href="#" ui-sref="dashboards-listing" class="pull-right" style="font-weight:700;">Back to Dashboards</a>
	    </div>
  </div>
  
  <div class="portlet-title" ng-hide="showBinder">
    <div class="caption col-md-9" ng-class="{'col-md-12' : hideTimeFilterOnTop==false, 'col-md-9': hideTimeFilterOnTop}">
      <i class="glyphicon glyphicon-th font-blue-madison"></i>
      <span class="caption-subject bold font-blue-madison">
      <span class="italic filter-text">Filtered from {{ currentPage.dashboardData.start_date }} to {{ currentPage.dashboardData.end_date }}</span>
      </span>
    </div>   
    
    <div ng-hide='hideTimeFilterOnTop' class="col-md-3" style="padding-right:0px">
	    <div class="input-group col-md-12 pull-right" style="padding-top:2px;">
			<span class="input-group-addon"><span
				class="glyphicon glyphicon-calendar pull-right"></span></span> <input type="text"
				date-range-picker class="form-control date-picker pull-right"
				style="font-size: 0.7rem !important; width: 100% !important"
				name="groupDates.date" ng-model="groupDates.date" options="opts"
				placeholder="Select date range" />
		</div>
	</div>
    
  </div>
  
  <div class="main-body">
     <div id="top-half" style="background-color:#fff">
 
  <div class="col-xs-5 text-center" style="min-height:50px; border-left:2px solid  #b4e3f4; border-top:2px solid  #b4e3f4; margin-top:125px; margin-left:50px; margin-right:-50px;">
    &nbsp;
  </div>
  
  <div class="col-xs-2 text-center" style="margin-top:30px">
    
    <h4 class="info-metric"  style="margin-top:0px; color:#003d50" title="Number of new contacts in this time period">{{currentPage.dashboardData.created_count | number:0}}</h4> <h5> ( {{ currentPage.dashboardData.percentage_increase | number:2 }}% ) </h5>
    <a class="btn btn-lg text-center" style="color:#04a1d9 !important; background-color:transparent !important;">
      <i class="fa fa-group fa-2x" style="color:#003d50; font-size:1.5em !important"></i>
    </a>
    <h5 class="info-label info-header" style="margin-top:0px;">Contacts</h5>
  </div>
  
  <div class="col-xs-5 text-center" style="min-height:50px; border-right:2px solid #e6f6fb; border-top:2px solid #e6f6fb; margin-top:125px; margin-left:-50px; margin-right:50px;">
    &nbsp;
  </div>
  
 
 <div class="clearfix" style="clear:both; height:0px">
 &nbsp;
 </div>
  
  <div class="col-xs-12" style="display:flex; ; padding:0">
  <div class="col-xs-1" style="min-height:50px; max-height:50px; border-left:2px solid #b4e3f4; border-bottom:2px solid #b4e3f4; margin-top:0px; margin-left:50px; margin-right:-50px;">
  &nbsp;
  </div>
  <div class="col-xs-10 info-box-green">
    <h5 class="text-center info-label info-header" style="margin-top:0px; text-transform:uppercase">Sources</h5>
    <hr style="border-top:1px solid #8cd1ec; clear:both; margin-top:5px; margin-bottom:0px;">
    <ul style="list-style:none; padding:0px" class="text-center">
      <li ng-repeat='(key, value) in currentPage.dashboardData.created_source' class="info-list-item-compressed text-center" ng-class="{'info-list-item-compressed-binder' : showBinder}">
         <a class="btn btn-lg text-center" style="color:#04a1d9 !important; background-color:transparent !important;">
            <i ng-show="key == 'EMAIL_MARKETING'" class="fa fa-envelope"></i>
            <i ng-show="key == 'DIRECT_TRAFFIC'" class="fa fa-bullseye"></i>
            <i ng-show="key == 'OFFLINE'" class="fa fa-flag-o"></i>
            <i ng-show="key == 'ORGANIC_SEARCH'" class="fa fa-search"></i>
            <i ng-show="key == 'REFERRALS'" class="fa fa-bullhorn"></i>
            <i ng-show="key == 'SOCIAL_MEDIA'" class="fa fa-thumbs-o-up"></i>
            <i ng-show="key == 'PAID_SEARCH'" class="fa fa-money"></i>
            <i ng-show="key == 'OTHER_CAMPAIGNS'" class="fa fa-volume-up"></i>
            <i ng-show="key == 'Unknown'" class="fa fa-question"></i>
         </a>
         <h6 class="info-label">{{ sourceNames[key] }}</h6>
         <p class="info-label info-metric">{{ value | number:0 }}</p>
      </li>
    </ul>
  </div>
  <div class="col-xs-1" style="min-height:50px; border-right:2px solid  #e6f6fb; margin-top:0px;margin-left:-50px; margin-right:50px;">
  &nbsp;
  </div>
  </div>
  
  <div class="clearfix" style="clear:both; height:0px">
 &nbsp;
 </div>
 
  <div class="col-xs-1" style="min-height:50px; margin-top:0px">
  &nbsp;
  </div>
  <div class="col-xs-10 info-box-orange" style="margin-top:15px;" >
    <h5 class="text-center info-label info-header" style="margin-top:0px; text-transform:uppercase">Stages</h5>
    <hr style="border-top:1px solid #9bd9f0; clear:both; margin-top:5px; margin-bottom:0px;">
    <ul style="list-style:none; padding:0px" class="text-center">
      <ul style="list-style:none; padding-left:0px; margin-left:0px">
      <li class="info-list-item-compressed text-center">
         <a class="btn btn-lg text-center" style="color:#04a1d9 !important; background-color:transparent !important;">
            <i class="fa fa-user"></i>
         </a>
         <h6 class="info-label">{{ stageNames['subscriber'] }}</h6>
         <p class="info-label info-metric">{{ currentPage.dashboardData.created_stage['subscriber'] || 0 | number:0 }}</p>
      </li>
      <li class="info-list-item-compressed text-center">
         <a class="btn btn-lg text-center" style="color:#04a1d9 !important;background-color:transparent !important;">
            <i class="fa fa-bullhorn"></i>
         </a>
         <h6 class="info-label">{{ stageNames['lead'] }}</h6>
         <p class="info-label info-metric">{{ currentPage.dashboardData.created_stage['lead'] || 0 | number:0 }}</p>
      </li>
      <li class="info-list-item-compressed text-center">
        <a class="btn btn-lg text-center" style="color:#04a1d9 !important;background-color:transparent !important;">
            <i class="fa fa-check-square-o"></i>
         </a>
         <h6 class="info-label">{{ stageNames['marketingqualifiedlead'] }}</h6>
         <p class="info-label info-metric">{{ currentPage.dashboardData.created_stage['marketingqualifiedlead'] || 0 | number:0 }}</p>
      </li>
      <li class="info-list-item-compressed text-center">
         <a class="btn btn-lg text-center" style="color:#04a1d9 !important;background-color:transparent !important;">
            <i class="fa fa-thumbs-o-up"></i>
         </a>
         <h6 class="info-label">{{ stageNames['salesqualifiedlead'] }}</h6>
         <p class="info-label info-metric">{{ currentPage.dashboardData.created_stage['salesqualifiedlead'] || 0 | number:0 }}</p>
      </li>
      <li class="info-list-item-compressed text-center">
         <a class="btn btn-lg text-center" style="color:#04a1d9 !important;background-color:transparent !important;">
            <i class="fa fa-money"></i>
         </a>
         <h6 class="info-label">{{ stageNames['opportunity'] }}</h6>
         <p class="info-label info-metric">{{ currentPage.dashboardData.created_stage['opportunity'] || 0 | number:0 }}</p>
      </li>
      <li class="info-list-item-compressed text-center">
         <a class="btn btn-lg text-center" style="color:#04a1d9 !important;background-color:transparent !important;">
            <i class="fa fa-heart"></i>
         </a>
         <h6 class="info-label">{{ stageNames['customer'] }}</h6>
         <p class="info-label info-metric">{{ currentPage.dashboardData.created_stage['customer'] || 0 | number:0 }}</p>
      </li>
    </ul>
  </div>
   <div class="col-xs-1" style="min-height:75px; border-right:2px solid  #e6f6fb; border-bottom:2px solid  #e6f6fb; margin-top:0px; margin-left:-50px; margin-right:50px;">
  &nbsp;
  </div>
  

  
 <div class="clearfix" style="clear:both; height:20px">
    &nbsp;
  </div>
   
   <div class="col-sm-12 info-label info-header text-center" style="clear:both; height:0px; margin-top:0px; text-transform:uppercase">
 Full Report
 </div>
 
  <div class="clearfix" style="clear:both; height:20px">
    &nbsp;
  </div>
  
  <!--  detailed metrics begin here -->
  <!--  Subscriber -->
  <div class="col-xs-12 funnel-detailed-row" ng-class="{'row' : !showBinder}">
  
  <div class="col-xs-2" ng-class="{'col-xs-1' : showBinder}">
    &nbsp;
  </div>
  
  <div class="col-xs-2 text-center" style="padding-top:20px; min-height:100px; max-height:100px; width:100px; border:2px solid #b4e3f4; border-radius:50%; margin-top:25px;">
     <a class="btn btn-lg text-center" style="color:#04a1d9 !important;background-color:transparent !important;">
      <i class="fa fa-group info-icon"></i>
    </a>
    <h4 class="info-label" title="Number of contacts that moved to the next stage">{{ currentPage.dashboardData.leads_inflow_count['subscriber'] | number:0 }}</h4>
  
  </div>
  
  <div class="col-xs-2 left-divider" >
    &nbsp;
  </div>
  
  <div class="col-xs-2" style="transform: rotate(-45deg); min-height:150px; max-height:150px; width:150px; border-top:2px solid #b4e3f4; border-right:2px solid #04a1d9; border-bottom:2px solid #04a1d9; border-left:2px solid #b4e3f4; border-radius:50%; margin-top:0px;">
    <div class="text-center center-circle-content" >
    <a class="btn btn-lg text-center" style="color:#004358 !important;background-color:transparent !important;">
      <i class="fa fa-user info-icon"></i>
    </a>
    <h4 class="info-label info-header" style="font-size:110%; text-transform:uppercase">{{ stageNames['subscriber'] }}</h4>
    <h3 class="info-metric row-center-circle"  style="color:#004358; margin-top:10px;" title="Average number of days in this stage">{{currentPage.dashboardData.leads_outflow_duration['subscriber'] | number:0}} days</h3>
    
    </div>
  </div>
  
  <div class="col-xs-2 right-divider" >
    &nbsp;
  </div>
  
  <div class="col-xs-2 text-center" style="padding-top:20px; min-height:100px; max-height:100px; width:100px; border:2px solid #04a1d9; border-radius:50%; margin-top:25px;">
    <a class="btn btn-lg text-center" style="color:#04a1d9 !important;background-color:transparent !important;">
      <i class="fa fa-group info-icon"></i>
    </a>
    <h4 class="info-label" title="Number of contacts that moved out of this stage">{{ currentPage.dashboardData.leads_outflow_count['subscriber'] | number:0  }} </h4>
  </div>
  
  <div class="col-xs-2" ng-class="{'col-xs-1' : showBinder}">
    &nbsp;
  </div>
  
  </div>
  
  <div class="clearfix" style="clear:both; height:0px">
    &nbsp;
  </div>
 <!-- end of Subscriber -->
 
 <!--  Lead -->
 <div class="col-xs-12 funnel-detailed-row" ng-class="{'row' : !showBinder}">
  
  <div class="col-xs-2" ng-class="{'col-xs-1' : showBinder}">
    &nbsp;
  </div>
  
  <div class="col-xs-2 text-center" style="padding-top:20px; min-height:100px; max-height:100px; width:100px; border:2px solid #b4e3f4; border-radius:50%; margin-top:25px;">
     <a class="btn btn-lg text-center" style="color:#04a1d9 !important;background-color:transparent !important;">
      <i class="fa fa-group info-icon"></i>
    </a>
    <h4 class="info-label" title="Number of contacts that moved to the next stage">{{ currentPage.dashboardData.leads_inflow_count['lead'] | number:0 }}</h4>
  
  </div>
  
  <div class="col-xs-2 left-divider">
    &nbsp;
  </div>
  
  <div class="col-xs-2" style="transform: rotate(-45deg); min-height:150px; max-height:150px; width:150px; border-top:2px solid #b4e3f4; border-right:2px solid #04a1d9; border-bottom:2px solid #04a1d9; border-left:2px solid #b4e3f4; border-radius:50%; margin-top:0px;">
    <div class="text-center center-circle-content">
    <a class="btn btn-lg text-center" style="color:#004358 !important;background-color:transparent !important;">
      <i class="fa fa-bullhorn info-icon"></i>
    </a>
    <h4 class="info-label info-header" style="font-size:110%; text-transform:uppercase">{{ stageNames['lead'] }}</h4>
    <h3 class="info-metric row-center-circle"  style="color:#004358; margin-top:10px;" title="Average number of days in this stage">{{currentPage.dashboardData.leads_outflow_duration['lead'] | number:0}} days</h3>
    
    </div>
  </div>
  
  <div class="col-xs-2 right-divider" >
    &nbsp;
  </div>
  
  <div class="col-xs-2 text-center" style="padding-top:20px; min-height:100px; max-height:100px; width:100px; border:2px solid #04a1d9; border-radius:50%; margin-top:25px;">
    <a class="btn btn-lg text-center" style="color:#04a1d9 !important;background-color:transparent !important;">
      <i class="fa fa-group info-icon"></i>
    </a>
    <h4 class="info-label" title="Number of contacts that moved out of this stage">{{ currentPage.dashboardData.leads_outflow_count['lead'] | number:0  }}</h4>
  </div>
  
  <div class="col-xs-2" ng-class="{'col-xs-1' : showBinder}">
    &nbsp;
  </div>
  
  </div>
  
  <div class="clearfix" style="clear:both; height:0px">
    &nbsp;
  </div>
  <!--  end of Lead -->
  
 <!--  MQL -->
  <div class="col-xs-12 funnel-detailed-row" ng-class="{'row' : !showBinder}">
  
  <div class="col-xs-2" ng-class="{'col-xs-1' : showBinder}">
    &nbsp;
  </div>
  
  <div class="col-xs-2 text-center" style="padding-top:20px; min-height:100px; max-height:100px; width:100px; border:2px solid #b4e3f4; border-radius:50%; margin-top:25px;">
     <a class="btn btn-lg text-center" style="color:#04a1d9 !important;background-color:transparent !important;">
      <i class="fa fa-group info-icon"></i>
    </a>
    <h4 class="info-label" title="Number of contacts that moved into this stage">{{ currentPage.dashboardData.leads_inflow_count['marketingqualifiedlead'] | number:0 }}</h4>
  
  </div>
  
  <div class="col-xs-2 left-divider">
    &nbsp;
  </div>
  
  <div class="col-xs-2" style="transform: rotate(-45deg); min-height:150px; max-height:150px; width:150px; border-top:2px solid #b4e3f4; border-right:2px solid #04a1d9; border-bottom:2px solid #04a1d9; border-left:2px solid #b4e3f4; border-radius:50%; margin-top:0px;">
    <div class="text-center center-circle-content">
    <a class="btn btn-lg text-center" style="color:#004358 !important;background-color:transparent !important;">
      <i class="fa fa-check-square-o info-icon"></i>
    </a>
    <h4 class="info-label info-header" style="font-size:110%; text-transform:uppercase">{{ stageNames['marketingqualifiedlead'] }}</h4>
    <h3 class="info-metric row-center-circle"  style="color:#004358; margin-top:10px;" title="Average number of days in this stage">{{currentPage.dashboardData.leads_outflow_duration['marketingqualifiedlead'] | number:0}} days</h3>
    
    </div>
  </div>
  
  <div class="col-xs-2 right-divider">
    &nbsp;
  </div>
  
  <div class="col-xs-2 text-center" style="padding-top:20px; min-height:100px; max-height:100px; width:100px; border:2px solid #04a1d9; border-radius:50%; margin-top:25px;">
    <a class="btn btn-lg text-center" style="color:#04a1d9 !important;background-color:transparent !important;">
      <i class="fa fa-group info-icon"></i>
    </a>
    <h4 class="info-label" title="Number of contacts that moved out of this stage">{{ currentPage.dashboardData.leads_outflow_count['marketingqualifiedlead'] | number:0  }}</h4>
  </div>
  
 <div class="col-xs-2" ng-class="{'col-xs-1' : showBinder}">
    &nbsp;
  </div>
  
  </div>
  
  <div class="clearfix" style="clear:both; height:0px">
    &nbsp;
  </div>
 <!-- end of MQL -->
  
  
  <!--  SQL -->
   <div class="col-xs-12 funnel-detailed-row" ng-class="{'row' : !showBinder}">
  
  <div class="col-xs-2" ng-class="{'col-xs-1' : showBinder}">
    &nbsp;
  </div>
  
  <div class="col-xs-2 text-center" style="padding-top:20px; min-height:100px; max-height:100px; width:100px; border:2px solid #b4e3f4; border-radius:50%; margin-top:25px;">
     <a class="btn btn-lg text-center" style="color:#04a1d9 !important;background-color:transparent !important;">
      <i class="fa fa-group info-icon"></i>
    </a>
    <h4 class="info-label" title="Number of contacts that moved into this stage">{{ currentPage.dashboardData.leads_inflow_count['salesqualifiedlead'] | number:0 }}</h4>
  
  </div>
  
  <div class="col-xs-2 left-divider">
    &nbsp;
  </div>
  
  <div class="col-xs-2" style="transform: rotate(-45deg); min-height:150px; max-height:150px; width:150px; border-top:2px solid #b4e3f4; border-right:2px solid #04a1d9; border-bottom:2px solid #04a1d9; border-left:2px solid #b4e3f4; border-radius:50%; margin-top:0px;">
    <div class="text-center center-circle-content">
    <a class="btn btn-lg text-center" style="color:#004358 !important;background-color:transparent !important;">
      <i class="fa fa-thumbs-o-up info-icon"></i>
    </a>
    <h4 class="info-label info-header" style="font-size:110%; text-transform:uppercase">{{ stageNames['salesqualifiedlead'] }}</h4>
    <h3 class="info-metric row-center-circle"  style="color:#004358; margin-top:10px;" title="Average number of days in this stage">{{currentPage.dashboardData.leads_outflow_duration['salesqualifiedlead'] | number:0}} days</h3>
    
    </div>
  </div>
  
  <div class="col-xs-2 right-divider">
    &nbsp;
  </div>
  
  <div class="col-xs-2 text-center" style="padding-top:20px; min-height:100px; max-height:100px; width:100px; border:2px solid #04a1d9; border-radius:50%; margin-top:25px;">
    <a class="btn btn-lg text-center" style="color:#04a1d9 !important;background-color:transparent !important;">
      <i class="fa fa-group info-icon"></i>
    </a>
    <h4 class="info-label" title="Number of contacts that moved out of this stage">{{ currentPage.dashboardData.leads_outflow_count['salesqualifiedlead'] | number:0  }}</h4>
  </div>
  
  <div class="col-xs-2" ng-class="{'col-xs-1' : showBinder}">
    &nbsp;
  </div>
  
  </div>
  
  <div class="clearfix" style="clear:both; height:0px">
    &nbsp;
  </div>
 <!-- end of SQL -->
  
  
  <!--  Opp -->
 
   <div class="col-xs-12 funnel-detailed-row" ng-class="{'row' : !showBinder}">
  
  <div class="col-xs-2" ng-class="{'col-xs-1' : showBinder}">
    &nbsp;
  </div>
  
  <div class="col-xs-2 text-center" style="padding-top:20px; min-height:100px; max-height:100px; width:100px; border:2px solid #b4e3f4; border-radius:50%; margin-top:25px;">
     <a class="btn btn-lg text-center" style="color:#04a1d9 !important;background-color:transparent !important;">
      <i class="fa fa-group info-icon"></i>
    </a>
    <h4 class="info-label" title="Number of contacts that moved into this stage">{{ currentPage.dashboardData.leads_inflow_count['opportunity'] | number:0 }}</h4>
  
  </div>
  
  <div class="col-xs-2 left-divider">
    &nbsp;
  </div>
  
  <div class="col-xs-2" style="transform: rotate(-45deg); min-height:150px; max-height:150px; width:150px; border-top:2px solid #b4e3f4; border-right:2px solid #04a1d9; border-bottom:2px solid #04a1d9; border-left:2px solid #b4e3f4; border-radius:50%; margin-top:0px;">
    <div class="text-center center-circle-content">
    <a class="btn btn-lg text-center" style="color:#004358 !important;background-color:transparent !important;">
      <i class="fa fa-money info-icon"></i>
    </a>
    <h4 class="info-label info-header" style="margin-left:-12px; font-size:110%; text-transform:uppercase">{{ stageNames['opportunity'] }}</h4>
    <h3 class="info-metric row-center-circle"  style="color:#004358; margin-top:0px;" title="Average number of days in this stage">{{currentPage.dashboardData.leads_outflow_duration['opportunity'] | number:0}} days</h3>
    
    </div>
  </div>
  
  <div class="col-xs-2 right-divider">
    &nbsp;
  </div>
  
  <div class="col-xs-2 text-center" style="padding-top:20px; min-height:100px; max-height:100px; width:100px; border:2px solid #04a1d9; border-radius:50%; margin-top:25px;">
    <a class="btn btn-lg text-center" style="color:#04a1d9 !important;background-color:transparent !important;">
      <i class="fa fa-group info-icon"></i>
    </a>
    <h4 class="info-label" title="Number of contacts that moved out of this stage">{{ currentPage.dashboardData.leads_outflow_count['opportunity'] | number:0  }}</h4>
  </div>
  
  <div class="col-xs-2" ng-class="{'col-xs-1' : showBinder}">
    &nbsp;
  </div>
  
  </div>
  
  <div class="clearfix" style="clear:both; height:0px">
    &nbsp;
  </div>
 <!-- end of Opp --> 
  <!--  Customer -->
  
    <div class="col-xs-12 funnel-detailed-row" ng-class="{'row' : !showBinder}">
  
  <div class="col-xs-2" ng-class="{'col-xs-1' : showBinder}">
    &nbsp;
  </div>
  
  <div class="col-xs-2 text-center" style="padding-top:20px; min-height:100px; max-height:100px; width:100px; border:2px solid #b4e3f4; border-radius:50%; margin-top:25px;">
     <a class="btn btn-lg text-center" style="color:#04a1d9 !important;background-color:transparent !important;">
      <i class="fa fa-group info-icon"></i>
    </a>
    <h4 class="info-label"  title="Number of contacts that moved into this stage">{{ currentPage.dashboardData.leads_inflow_count['customer'] | number:0 }}</h4>
  
  </div>
  
  <div class="col-xs-2 left-divider">
    &nbsp;
  </div>
  
  <div class="col-xs-2" style="transform: rotate(-45deg); min-height:150px; max-height:150px; width:150px; border-top:2px solid #b4e3f4; border-right:2px solid #04a1d9; border-bottom:2px solid #04a1d9; border-left:2px solid #b4e3f4; border-radius:50%; margin-top:0px;">
    <div class="text-center center-circle-content">
    <a class="btn btn-lg text-center" style="color:#004358 !important;background-color:transparent !important;">
      <i class="fa fa-heart info-icon"></i>
    </a>
    <h4 class="info-label info-header" style="font-size:110%; text-transform:uppercase">{{ stageNames['customer'] }}</h4>
    <h3 class="info-metric row-center-circle"  style="color:#004358; margin-top:10px;"  title="Total value of deals closed in this period">{{currentPage.dashboardData.closed_deal_value | currency:"$" }}</h3>
    
    </div>
  </div>
  
  <div class="col-xs-2 right-divider">
    &nbsp;
  </div>
  
  <div class="col-xs-2 text-center" style="padding-top:20px; min-height:100px; max-height:100px; width:100px; border:2px solid #04a1d9; border-radius:50%; margin-top:25px;">
    <a class="btn btn-lg text-center" style="color:#04a1d9 !important;background-color:transparent !important;">
      <i class="fa fa-money info-icon"></i>
    </a>
   <h4 class="info-label" title="Highest value of deal closed in this time period">{{ currentPage.dashboardData.max_deal_value | currency:"$"  }}</h4>
  </div>
  
  <div class="col-xs-2" ng-class="{'col-xs-1' : showBinder}">
    &nbsp;
  </div>
  
  </div>
  
  <div class="clearfix" style="clear:both; height:0px">
    &nbsp;
  </div>
 <!-- end of Customer -->  
 
  <div class="clearfix" style="clear:both">
   &nbsp;
  </div>
    
      </div> <!--  end of top half -->
      
    </div> <!--  end portlet body -->
    
    <h5 ng-hide="showBinder" class="x-small block " style="clear:both">Generated on: {{ now | amDateFormat:'dddd, MMMM Do YYYY, h:mm:ss a z' }}</h5>
  
</div>  
<!--  end of dashboard -->
	

<!-- END PAGE CONTENT -->
