<!-- <div ng-controller="PortfolioitemsController"> -->
<!-- <portfolioitems portfolioitems="vm.portfolioitems" ng-show="vm.portfolioitems && vm.portfolioitems.length"></portfolioitems> -->
<!-- <a class="btn btn-primary btn-fab btn-raised mdi-content-add btn-add-new-portfolioitem" -->
<!--   href="javascript:void(0)" -->
<!--   ng-show="vm.isAuthenticated" -->
<!--   ng-dialog="/static/templates/portfolioitems/new-portfolioitem.html" -->
<!--   ng-dialog-controller="NewPortfolioitemController as vm"></a> -->
<!-- </div> -->