<div class="row" ng-show="showLeads" id="leaddrilldown">
	<div class="col-md-12">
		<!-- BEGIN TABLE PORTLET-->
		<div class="portlet light"  style="">
			<div class="portlet-title">
				<div class="caption class="col-sm-8">
					<i class="fa fa-group font-blue-madison"></i><span class="caption-subject bold uppercase font-blue-madison">Drilldown</span><span class="font-blue-madison font-md"> {{filterTitle}}</span>
				</div>
				<div class="btn-group col-sm-4 pull-right chart-tools">
				    
					<a href="#" class="btn btn-sm pull-right"
						ng-click="downloadLeadsCsv()" title="Download as CSV">
						<span class="glyphicon glyphicon-download"></span>
						Download CSV
						
					</a>
			    </div>
			</div>
			<div class="portlet-body" style="margin-left:-20px; margin-right:-20px" >
				<div class="table-toolbar" ng-hide="!vm.leads || !vm.leads.length" >
					<div class="row">
						<div class="col-md-12">
							<div class="btn-group pull-right">
								<button class="btn dropdown-toggle" data-toggle="dropdown">
									Tools <i class="fa fa-angle-down"></i>
								</button>
								<ul class="dropdown-menu pull-right">
									<li><a href="#"> Print </a></li>
									<li><a href="#"> Save as PDF </a></li>
									<li><a href="#"> Export to Excel </a></li>
								</ul>
							</div>
						</div>
					</div>
				</div>
				<table ng-hide="!vm.leads || !vm.leads.length"  class="table table-striped table-hover actionTable dataTable"
					id="leads_table" ng-cloak>
					<thead ng-show="showLeads"> <!-- ng-hide="showLeadsDuration && showLeads" && !showLeadsDuration -->
						<tr>
							<th ng-hide="hideDetailColumn" class="center"></th>
							<th>ID</th>
							<th>First Name</th>
							<th>Last Name</th>
							<th ng-hide="showFormData">Email</th>
							<!--  th class="center">Company</th -->
							<th ng-hide="filterBySource || filterByRevenueSource">Source</th>
							<th ng-hide="showFormData">Source Detail</th>
							<th ng-hide="showFormData">Campaign</th>
							<th ng-show="filterByRevenueSource">Revenue</th>
							<th ng-show="showFormData">Form</th>
							<th ng-show="showFormData">Country</th>
							<th ng-show="showFormData">City</th>
							<!-- th ng-hide="filterBySource || filterByRevenueSource" class="center">System</th -->
						</tr>
					</thead>
					
					<!-- <thead ng-show="showLeadsDuration" ng-hide="!showLeadsDuration">
						<tr>
						    <th class="center"></th>
							<th class="center">First Name</th>
							<th class="center">Last Name</th>
							<th class="center">Source</th>
							<th class="center">Duration (days) from {{status_series['from'] }} to {{status_series['to'] }}</th>
							<th class="center" ng-show="!strict">S->L</th>
							<th class="center" ng-show="!strict">L->M</th>
							<th class="center" ng-show="!strict">M->S</th>
							<th class="center" ng-show="!strict">S->O</th>
							<th class="center" ng-show="!strict">O->C</th>
							<th class="center" ng-show="!strict">Previous Stage</th>
							<th class="center" ng-show="strict">Days in Current Stage</th>
						</tr>
					</thead> -->

					<tbody>
						<tr dir-paginate-start="lead in vm.leads | itemsPerPage:10" total-items="totalLeads" current-page="pagination.current">
							<td class="center" ng-hide=hideDetailColumn>
							<a ng-hide="showingContact[lead.id]" ng-click="showContactDetails(lead)" href="javascript:;">
							   <span class="row-details row-details-close"></span>
							</a>
							<a ng-show="showingContact[lead.id]" ng-click="hideContactDetails(lead)" href="javascript:;">
							   <span class="row-details row-details-open"></span>
							</a>
							</td>
							<td>
							<a ng-if="lead.sourceSystem=='HSPT' || source_system=='hspt'" target="_blank" href="http://app.hubspot.com/contacts/{{portal_id}}/contact/{{lead.id}}">{{ lead.id }}</a>
							<a ng-if="lead.sourceSystem=='MKTO'" target="_blank" href="http://app-sj09.marketo.com/leadDatabase/loadLeadDetail?leadId={{lead.id}}">{{ lead.id }}</a>
							<a ng-if="lead.sourceSystem=='SFDC'" target="_blank" href="https://na17.salesforce.com/{{lead.id}}">{{ lead.id }}</a>
							</td>
							<td>
							{{ lead.FirstName }}
							</td>
							<td>
							{{ lead.LastName }}
							</td>
							<td ng-hide="showFormData">
							{{ lead.Email }}
							</td>							
							<!-- td class="center">
							{{ lead.Company }}</td -->
							<td ng-hide="filterBySource || filterByRevenueSource">
							{{ lead.sourceChannel }}
							</td>
							<!-- td ng-hide="filterBySource || filterByRevenueSource"  class="center">
							{{ lead.sourceSystem }}
							</td -->
							<td ng-hide="showFormData" >
							{{ lead.sourceChannelDetail }}
							</td>
							<td ng-hide="showFormData" >
							{{ lead.sourceChannelCampaign }}
							</td>
							<td ng-show="showFormData" >
							{{ lead.Form }}
							</td>
							<td ng-show="showFormData" >
							{{ lead.Country }}
							</td>
							<td ng-show="showFormData" >
							{{ lead.City }}
							</td>
							<td ng-show="filterByRevenueSource">
							{{ lead.properties.total_revenue | number : 0 }}
							</td>
						</tr>
						<tr dir-paginate-end ng-show="showingContact[lead.id]">
						<td colspan="9"><ng-include src="'/static/templates/leads/analytics-leads-detail.html'"></ng-include></td>
						</tr>
					</tbody>
					
					<!-- <tbody ng-show="showLeadsDuration">
						<tr dir-paginate-start="lead in vm.leads | itemsPerPage:10" total-items="totalLeads" current-page="pagination.current">
							<td class="center">
							<a ng-hide="showingContact[lead.id]" ng-click="showContactDetails(lead)" href="javascript:;">
							   <span class="row-details row-details-close"></span>
							</a>
							<a ng-show="showingContact[lead.id]" ng-click="hideContactDetails(lead)" href="javascript:;">
							   <span class="row-details row-details-open"></span>
							</a>
							</td>
							<td class="center">
							{{ lead.FirstName }}
							</td>
							<td class="center">
							{{ lead.LastName }}
							</td>
							<td class="center">
							{{ lead.sourceChannel }}
							</td>
							<td class="center">
							{{ lead.statusChangeDuration }}
							</td>
							<td class="center" ng-show="!strict">
							{{ lead.SL }}
							</td>							
							<td class="center" ng-show="!strict">
							{{ lead.LM}}</td>
							<td class="center" ng-show="!strict">
							{{ lead.MS }}
							</td>
							<td class="center" ng-show="!strict">
							{{ lead.SO }}
							</td>
							<td class="center" ng-show="!strict">
							{{ lead.OC }}
							</td>
							<td class="center" ng-show="!strict">
							{{ lead.last_stage }}
							</td>
							<td class="center" ng-show="strict">
							{{ lead.days_in_this_stage }}
							</td>
						</tr>
						<tr dir-paginate-end ng-show="showingContact[lead.id]">
						<td colspan="9"><ng-include src="'/static/templates/leads/analytics-leads-detail.html'"></ng-include></td>
						</tr>
					</tbody> -->
					
					<div ng-hide="vm.leads && vm.leads.length">
						<div class="col-sm-12 no-symbols-here">
							<em>There are no contacts available.</em>
						</div>
					</div>

				</table>
				</div>
				<div class="col-md-12" style="padding-left:0px; padding-right:0px">
				   <div class="col-md-3 table-pagination-counter italic" style="padding-left:0px; padding-right:0px" ng-hide="!vm.leads || !vm.leads.length" >Showing {{startLeadCounter}} to {{endLeadCounter}} of {{totalLeads}}</div>
				   <div class="col-md-9" style="padding-left:0px; padding-right:0px"> 
				       <dir-pagination-controls class="pull-right" ng-hide="!vm.leads || !vm.leads.length" on-page-change="pageChanged(newPageNumber)"></dir-pagination-controls>
			       </div>
			    </div>
		</div>
		<!-- END EXAMPLE TABLE PORTLET-->
	</div>
</div>
<!-- END PAGE CONTENT -->
