<!DOCTYPE html>
<html ng-app="mmm">
<head>
  <title>Claritix</title>

  <base href="/" />

  {% include 'stylesheets.html' %}
  {% load staticfiles %}
  {% load tz %}
  {% get_current_timezone as TIME_ZONE %}

  <script type='text/javascript'>
  var STATIC_URL = '{{STATIC_URL|escapejs}}';
  function staticUrl(path) {  
  	return STATIC_URL + path;
  }
  var timezone = '{{TIME_ZONE}}';
  function getLocalTimezone() { 
	  return timezone;
  }
  
  </script>
  <link href="{% static 'images/favicon.ico' %}" rel="icon" type="image/x-icon" />
</head>

<body ng-controller="IndexController as vm" class="page-header-fixed page-sidebar-closed-hide-logo " ng-class="parentObj.bodyClass">
 
 <span ng-if="!parentObj.preview">
 {% include 'navbar.html' %}
 </span>

  <span ng-if="!parentObj.preview">
  {% if user.is_authenticated and not user.is_superadmin%}
  <div class="page-container">
    
	<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar-wrapper">
		<div class="page-sidebar navbar-collapse collapse">
			<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
				<li class="start">
				    <a href ui-sref="dashboards-listing" ui-sref-active="active">
				    <i class="glyphicon glyphicon-th"></i>
				    <span class="title">Dashboards</span>
				    </a>
				</li>
				<li>
				    <a href="#">
				    <i class="glyphicon glyphicon-signal"></i>
				    <span class="title">Analytics</span>
				    <span class="arrow"></span>
				    </a>
				    <ul class="sub-menu">
					    <li>
					        <a href ui-sref="charts" ui-sref-active="active">
					        Charts
					        </a>
					    </li>
					    <li>
					        <a href ui-sref="snapshots" ui-sref-active="active">
					        Snapshots
					        </a>
					    </li>
					    <li>
					        <a href ui-sref="binders" ui-sref-active="active">
					        Binders
					        </a>
					    </li>
				    </ul>
				</li>
				<li>
				    <a href ui-sref="campaigns" ui-sref-active="active">
				    <i class="glyphicon glyphicon-bullhorn"></i>
				    <span class="title">Campaigns</span>
				    </a>
				</li>
				<li>
				    <a href="/accounts">
				    <i class="glyphicon glyphicon-screenshot"></i>
				    <span class="title">Accounts</span>
				    <span class="arrow"></span>
				    </a>
				    <ul class="sub-menu">
				        <li>
					        <a href ui-sref="accounts" ui-sref-active="active">
					        Accounts
						    </a>
					     </li>
					     <li>
					        <a href ui-sref="companies" ui-sref-active="active">
					        Companies
						    </a>
					     </li>
					     <li>
					        <a href ui-sref="name" ui-sref-active="active">
					        Matching
						    </a>
					     </li>
					 </ul>
				    </a>
				</li>
				<li>
				    <a href ui-sref="contacts" ui-sref-active="active">
				    <i class="glyphicon glyphicon-record"></i>
				    <span class="title">Contacts</span>
				    </a>
				</li>
				<li>
				    <a href="#">
				    <i class="glyphicon glyphicon-thumbs-up"></i>
				    <span class="title">Social</span>
				    <span class="arrow"></span>
				    </a>
				    <ul class="sub-menu">
				        <li>
					        <a href ui-sref="twitter" ui-sref-active="active">
					        Twitter
					        <span class="arrow"></span>
						    </a>
						    <ul class="sub-menu">
						        <li>
							        <a href ui-sref="tweets" ui-sref-active="active">
							        Tweets
							        </a>
							    </li>
							    <li>
							        <a href ui-sref="twitter-master-list" ui-sref-active="active">
							        Master List
							        </a>
							    </li>
						    </ul>
					    </li>
					    <li>
					        <a href="/">
					        Facebook
					        </a>
					    </li>
					    <li>
					        <a href="/">
					        Instagram
					        </a>
					    </li>
					    <li>
					        <a href="/">
					        Pinterest
					        </a>
					    </li>
				    </ul>
					
				</li>
				<li>
				    <a href="#">
				    <i class="glyphicon glyphicon-cog"></i>
				    <span class="title">Admin</span>
				    <span class="arrow"></span>
				    </a>
				    <ul class="sub-menu">
				        <li>
					        <a href ui-sref="users" ui-sref-active="active">
					        Users
					        </a>
					    </li>
					    <li>
					        <a  ui-sref="integrations" ui-sref-active="active">
					        Integrations
					        </a>
					    </li>
					    <li>
					        <a  ui-sref="data" ui-sref-active="active">
					        Data Management
					        </a>
					    </li>
					    <li>
					        <a  ui-sref="analytics-data" ui-sref-active="active">
					        Analytics Data Management
					        </a>
					    </li>
					    <li>
						    <a href="#">
						    <span class="title">Social</span>
						    <span class="arrow"></span>
						    </a>
						    <ul class="sub-menu">
						        <li>
							        <a  ui-sref="twitter-admin" ui-sref-active="active">
							        Twitter
							        </a>
							    </li>
						    </ul>
							
						</li>
				    </ul>
					
				</li>
            </ul>
			<!-- END SIDEBAR MENU -->
		</div>
	</div>
	<!-- END SIDEBAR -->
	
  {% endif %}
  
  {% if user.is_authenticated and user.is_superadmin%}
  <div class="page-container">
    
	<!-- BEGIN SIDEBAR -->
	<div class="page-sidebar-wrapper">
		<div class="page-sidebar navbar-collapse collapse">
			<ul class="page-sidebar-menu " data-keep-expanded="false" data-auto-scroll="true" data-slide-speed="200">
				<li class="start">
				    <a href="/dashboard">
				    <i class="icon-home"></i>
				    <span class="title">Dashboard</span>
				    </a>
				</li>
				<li>
				    <a href="/mongonaut/authentication/Company/">
				    <i class="icon-briefcase"></i>
				    <span class="title">Companies</span>
				    </a>
				</li>
				<li>
				    <a href="/mongonaut/authentication/CustomUser/">
				    <i class="icon-users"></i>
				    <span class="title">Users</span>
				    </a>
				</li>
				<li>
				    <a href="/mongonaut/accounts/SuperAccount/">
				    <i class="icon-target"></i>
				    <span class="title">Accounts</span>
				    </a>
				</li>
				 <li>
				    <a href="#">
				    <span class="title">Data</span>
				    <span class="arrow"></span>
				    </a>
				    <ul class="sub-menu">
				        <li>
					        <a href="/superadmin-jobs">
					        Jobs
					        </a>
					    </li>
					    <li>
					        <a href="/superadmin-logs">
					        Logs
					        </a>
					    </li>
				    </ul>
					
				</li>
            </ul>
			<!-- END SIDEBAR MENU -->
		</div>
	</div>
	<!-- END SIDEBAR -->
  {% endif %}
  
  
  {% if user.is_authenticated %}
  <div class="page-content-wrapper">
	<div class="page-content">
  {% endif %}
      <ui-view></ui-view>
  {% if user.is_authenticated %}
    </div>
  </div>
  </div> <!--  page container -->
  {% endif %}
  </span>
  
  <span ng-if="parentObj.preview">
      <ui-view class="animate-show-hide"></ui-view>
  </span>

  
  {% include 'javascripts.html' %}

</body>
  
</html>
