{% load compress %}
{% load staticfiles %}

{% compress css %}
<!-- <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'theme/assets/global/plugins/font-awesome/css/font-awesome.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'theme/assets/global/plugins/simple-line-icons/simple-line-icons.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'theme/assets/global/plugins/bootstrap/css/bootstrap.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'theme/assets/global/plugins/uniform/css/uniform.default.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'theme/assets/global/plugins/bootstrap-switch/css/bootstrap-switch.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'theme/assets/global/plugins/datatables/plugins/bootstrap/dataTables.bootstrap.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'theme/assets/admin/pages/css/tasks.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'theme/assets/admin/pages/css/login-soft.css' %}" />

<!-- <link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/material.css' %}" /> -->
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/bootstrap-material-design/dist/css/ripples.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'bower_components/ngDialog/css/ngDialog-theme-default.css' %}" />

<link rel="stylesheet" type="text/css" href="{% static 'lib/snackbarjs/snackbar.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lib/angular-nvd3/nv.d3.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lib/daterangepicker/daterangepicker-bs3.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'lib/angular-xeditable/angular-xeditable.css' %}" />

<!--  link rel="stylesheet" type="text/css" href="{% static 'theme/assets/admin/layout/css/themes/default.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'theme/assets/admin/layout/css/themes/light2.css' %}" / -->


<link rel="stylesheet" type="text/css" href="{% static 'theme/assets/global/css/components-rounded.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'theme/assets/global/css/plugins.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'theme/assets/admin/layout4/css/layout.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'theme/assets/admin/layout4/css/themes/light.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'theme/assets/admin/layout4/css/custom.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'theme/assets/admin/pages/css/timeline.css' %}" />

<!-- <link rel="stylesheet" type="text/css" href="{% static 'theme/assets/frontend/layout/css/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'theme/assets/frontend/pages/css/style-revolution-slider.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'theme/assets/frontend/layout/css/style-responsive.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'theme/assets/frontend/layout/css/themes/turquoise.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'theme/assets/frontend/layout/css/custom.css' %}" /> -->

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

<link href='https://fonts.googleapis.com/css?family=Lato:400,700,700italic,900,900italic&subset=latin,latin-ext' rel='stylesheet' type='text/css' >

<link rel="stylesheet" href="{% static 'bower_components/slick-carousel/slick/slick.css' %}">
<link rel="stylesheet" href="{% static 'bower_components/slick-carousel/slick/slick-theme.css' %}">

<link rel="stylesheet" type="text/css" href="{% static 'stylesheets/styles.css' %}" />

{% endcompress %}
