<!--  dashboard -->
<div class="portlet light">
  
  <div class="portlet-header short">
        <div class="title col-md-12">Twitter Master Lists Summary</div>
        <div class="title col-md-9 breadcrumb animate-show-hide">&nbsp;</div>
        <div class="title col-md-3 breadcrumb hidden">&nbsp;</div>
  </div>
  
  <div class="portlet-title hidden">
    &nbsp;
  </div>

 <div class="portlet-body">
  <div class="row list-separated">
    <div class="col-md-4 col-sm-4 col-xs-6 header-box header-box-grey">
       <div class="uppercase font-hg font-blue-madison">
          {{ totalCount }} 
       </div>
       <div class="font-grey-mint font-sm uppercase">
          Total Master Lists
       </div>
       
    </div>
    
    <div class="col-md-4 col-sm-4 col-xs-6 header-box header-box-grey">
       <div class="uppercase font-hg font-blue-madison">
          {{ numPublished }} 
       </div>
       <div class="font-grey-mint font-sm uppercase">
          Total Published
       </div>
       
    </div>
    
    <div class="col-md-4 col-sm-4 col-xs-6 header-box header-box-grey">
       <div class="uppercase font-hg font-blue-madison">
          {{ totalTwCount }}
       </div>
       <div class="font-grey-mint font-sm">
          Number of Tweets in Lists
       </div>
       
    </div>
    
    <div class="col-md-2 col-sm-2 col-xs-3 header-box hidden">
    </div>
  
  </div>
  
</div>  
<!--  end of dashboard -->
  
  <div class="portlet-title">
    <div class="caption  col-md-6">
      <i class="fa fa-twitter font-blue-madison"></i><span class="caption-subject bold uppercase font-blue-madison">Twitter Master Lists - Details</span>
    </div>   
    <div class="col-md-6">
		<div class="pull-right" style="margin-top:3px"> <!-- ng-click="addRow()"   -->
			<a href="" ng-click="createTwMlFromCategory()" role="button" id="add_tweet_ml" class="btn action-button" ng-hide="createTwML">
				<span class="glyphicon glyphicon-plus"></span>
				Add New from Category
			</a>
			<a href="" ng-click="createTwMl()" role="button" id="add_tweet_ml" class="btn action-button" ng-hide="createTwML">
				<span class="glyphicon glyphicon-plus"></span>
				Add New 
			</a>
		</div>
	</div> 
  </div>

<div class="portlet-body padding-zero" ng-show="createTwML">
<div class="clearfix">
   <div class="col-md-12">

					<div class="portlet-body" >
					
					    <div class="col-md-6 padding-zero" ng-if="select_by_category">
					       <div class="col-md-4 padding-zero">
					       <select name="tweet_category" 
						                   ng-options="category.id as category.category_name for category in vm.tw_categories"
						                   ng-model="selected.category.id" ng-change="getCategorySize()">
						                   <option value="">Select Category</option>
						   </select>
						   </div>
						   <div class="col-md-8" style="margin-top:0px !important" range-slider min="0" max="selected.category.size" model-max="selected.category.count" pin-handle="min" show-values="true"></div>
					      
					    </div>
					    
					    <div class="col-md-6 padding-zero" ng-if="!select_by_category">&nbsp;</div>
					
					  	<div class="col-md-6 padding-zero">
							<div class="pull-right" style="margin-top:0px"> <!-- ng-click="addRow()"   -->
								<a ng-if="!select_by_category" href="" ng-click="createTwMl()" role="button" id="add_category" class="btn secondary-button">
									Redo </i>
								</a>
								<a ng-if="select_by_category" href="" ng-click="createTwMlFromCategory()" role="button" id="add_category" class="btn secondary-button">
									Redo </i>
								</a>
								<a href="" ng-click="saveTwMl()" role="button" id="save_ml" class="btn secondary-button">
									Save</i>
								</a>
								<a href="" ng-click="savePublishTwMl()" role="button" id="save_publish_ml" class="btn secondary-button">
									Save & Publish</i>
								</a>
								<a href="" ng-click="discardTwMl()" role="button" id="delete_ml" class="btn secondary-button">
									Discard</i>
								</a>
							</div>
						</div>
						
						<div class="clearfix margin-zero">&nbsp;</div>
						
					   <form name="tw_ml_new">
					       <div>
					         <select name="tw_handle" class=""
						                   ng-options="tw_handle.service_username for tw_handle in tw_handles"
						                   ng-model="selected_tw_handle">
						                   <option value="">Select Twitter handle</option>
										</select>
					       </div>
						   <table ng-hide="(!newTwMl.tweets || !newTwMl.tweets.length)" class="table table-striped table-hover table-bordered dataTable"
					id="tw_ml_new_table" ng-cloak>
								<thead>
									<tr>
										<th class="center">Category</th>
										<th class="center" style="width:50%">Tweet</th>
										<th class="center">Version</th>
										<th class="center">&nbsp;</th>
									</tr>
								</thead>
			
								<tbody>
								    <tr ng-repeat='tweet in newTwMl.tweets'>
										<td class="center">
										<div>{{ tweet.category_name }}</div>
										</td>
										<td class="left">
										<div>{{ tweet.text}}</div>
										</td>
										<td class="center">
										<div>{{ tweet.version }}</div>
										</td>
										<td>
										  <div class="form-group" ng-hide="tw_categories[category.id]">
											<a ng-hide="editingData[category.id]" href="#" ng-click="deleteMlTweet(tweet.tweet_id)" class="btn action-button">
											<i class="fa fa-trash-o"></i> Delete
											</a>&nbsp;&nbsp;
											<!--  a ng-hide="editingData[category.id]" href="#" ng-click="editCategory(category)" class="btn blue-madison">
												<i class="fa fa-edit"></i> Replace
											</a ADD BACK REPLACE LATER-->
											<a ng-show="editingData[category.id]" href="#" ng-click="updateCategory(category)" class="btn action-button">
											<i class="fa fa-frown-o"></i>  Save
											</a>&nbsp;&nbsp;
											<a ng-show="editingData[category.id]" href="#" ng-click="cancelCategory(category)" class="btn action-button">
												<i class="fa fa-smile-o"></i> Cancel
											</a>
										  </div>
										  <div class="form-group" ng-show="tw_categories[category.id]">
											    <a href="#" ng-click="confirmedDeleteCategory(category)" class="btn action-button">
													<i class="fa fa-frown-o"></i> Confirm
												</a>&nbsp;&nbsp;
												<a href="#" ng-click="cancelDeleteCategory(category)" class="btn action-button">
													<i class="fa fa-smile-o"></i> Cancel
												</a>
										  </div>
							             </td>		
									</tr>
								</tbody>
							</table>
							
						</form>
					
					</div>
</div>
</div>               
</div>

<div class="portlet-body padding-zero" ng-hide="createTwML">
					   <form novalidate name="tw_ml_form">
					       <div role="alert"><span class="error" ng-show="tweets_form.textarea.$error.required || tweets_form.textarea.$error.maxlength">Oops, there's an error!</span></div>
						   <table ng-hide="(!tw_ml || !tw_ml.length) && !addRow" class="table table-striped table-hover actionTable dataTable"
					id="tweets_table" ng-cloak>
								<thead>
									<tr>
									    <th class="center"></th>
										<th class="center">Created on</th>
										<th class="center">Tw Handle</th>
										<th class="center" style="width:20%">Total Tweets</th>
										<th class="center">Published</th>
										<th class="center" style="width:20%">Published on</th>
										<th class="center"></th>
									</tr>
								</thead>
			
								<tbody>
									<tr dir-paginate-start="ml in tw_ml | itemsPerPage:10" total-items="totalMl" current-page="pagination.current">
									    <td class="center">
										<a ng-hide="showingMl[ml.id]" ng-click="showMl(ml)" href="javascript:;">
										   <span class="row-details row-details-close"></span>
										</a>
										<a ng-show="showingMl[ml.id]" ng-click="hideMl(ml)" href="javascript:;">
										   <span class="row-details row-details-open"></span>
										</a>
										</td>
										<td class="center">
										<div ng-hide="editingData[ml.id]">{{ ml.updated_date | amCalendar }}</div>
										</td>
										<td class="center">
										<div ng-hide="editingData[ml.id]">{{ ml.tw_handle }}</div>
										</td>
										<td class="center">
										<div ng-hide="editingData[tweet.id]">{{ ml.tweets.length }}</div>
										</td>
										<td class="center">
										<div ng-hide="editingData[tweet.id]">{{ ml.published }}</div>
										</td>
										<td class="center">
										<div ng-hide="editingData[tweet.id]">{{ ml.published_date  | amCalendar}}</div>
										</td>
										<td class="center">
										<a ng-hide="editingData[category.id] || ml.published" href="#" ng-click="publishMl(ml.id)" class="btn secondary-button">
										   Publish
										</a>
									</tr>
									<tr dir-paginate-end ng-repeat="xtweet in ml.tweets track by $index"  ng-show="showingMl[ml.id]">
						                <td class="center">Tweet ->
						                </td>
						                <td class="center">
										<div>{{ xtweet.category_name }}</div>
										</td>
										<td class="left" colspan="4">
										<div>{{ xtweet.text}}</div>
										</td>
										<td class="center">
										<div>{{ xtweet.version }}</div>
										</td>
									</tr>
								</tbody>
								<div ng-hide="(tw_ml && tw_ml.length) || createTwML">
									<div class="col-sm-12 no-symbols-here">
										<em>The are no Twitter master lists available.</em>
									</div>
								</div> 
							</table>
							
						</form>
					
			</div>

			
			<!--  end of first col-md-6 -->
			</div> <!--  clearfix end -->

</div>