<div class="portlet box blue-madison">

	<div class="portlet-title">
		<div class="caption">
			<i class="fa fa-database"></i>Data Management
		</div>
	</div>

	<div class="portlet-body">
		<div class="clearfix">

			<div class="col-md-6">

				<div class="portlet box blue-steel">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-volume-up"></i>Campaigns
						</div>
					</div>
					<div class="portlet-body">
						<div class="panel-group accordion" id="campaigns">
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse"
											data-parent="#campaigns" href="#collapse1">
                                           Marketo
										</a>
									</h4>
								</div>
							</div>
							<div id="collapse1" class="panel-collapse collapse">
								<div class="panel-body">
									<p>
									  <a href="#" ui-sref="dataRetrieval({code:'mkto'})" class="btn green-jungle">
								         <i class="fa fa-cloud-download"></i> Retrieve
							          </a>
							          &nbsp;&nbsp;
                                      <a href="#" ng-click="something()" class="btn red-flamingo">
								         <i class="fa fa-trash-o"></i> Delete
							          </a>							          
									</p>
								</div>
							</div>
							
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a class="accordion-toggle" data-toggle="collapse"
											data-parent="#campaigns" href="#collapse2">
                                           Salesforce
										</a>
									</h4>
								</div>
							</div>
							<div id="collapse2" class="panel-collapse collapse">
								<div class="panel-body">
									<p>
									  <a href="#" ng-click="something()" class="btn green-jungle">
								         <i class="fa fa-cloud-download"></i> Retrieve
							          </a>
							          &nbsp;&nbsp;
                                      <a href="#" ng-click="something()" class="btn red-flamingo">
								         <i class="fa fa-trash-o"></i> Delete
							          </a>							          
									</p>
								</div>
							</div>
							
						</div>
					</div>
				</div>

			</div>
			<!--  end of first col-md-6 -->

			<div class="col-md-6">

				<div class="portlet box blue-hoki">
					<div class="portlet-title">
						<div class="caption">
							<i class="fa fa-group"></i>Leads
						</div>
					</div>
					<div class="portlet-body"></div>
				</div>

			</div>
			<!--  end of second col-md-6 -->

		</div>
	</div>

</div>
