<div class="portlet light">
  
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-gear font-blue-madison"></i><span class="caption-subject bold uppercase font-blue-madison">Integrations</span>
    </div>    
  </div>
  
  <div class="portlet-body">
    <div class="portlet-tabs">
      <ul class="nav nav-tabs">
        <li ng-class="tabClass(tab)" ng-repeat="tab in tabs" tab="tab"><a href="{{tab.link}}" ng-click="setSelectedTab(tab)">{{tab.label}}</a></li>
      </ul>
      <div class="tab-content">
         <ng-include src="'/static/templates/integrations/' + tabname + '-partial.html'"></ng-include> 
   </div>
    </div>
  </div>
    
</div>
